<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element">
      <h2>{{ "dashboardItems.Booking" | translate }}</h2>
    </div>
    <div
      class="table-container booking-manager-table"
      style="  
        overflow-y: auto !important;
        margin-top: 30px;
      "
    >
      <table
        class="table table-responsive"
        style="width: 100%; box-shadow: none !important; margin: 0px 0px;"
      >
        <thead
          style="position: sticky; top: 0; z-index: 1; background-color: #fff"
        >
          <tr>
            <th>{{ "Booked" | translate }}</th>
            <th>{{ "Booking No" | translate }}</th>
            <th>{{ "Additional Labour" | translate }}</th>
            <th>{{ "Quote Price" | translate }}</th>
            <th>{{ "Shipment type" | translate }}</th>
            <th>{{ "terms.Date" | translate }}</th>
            <th>{{ "Time" | translate }}</th>
            <th>{{ "Mode" | translate }}</th>
            <th>{{ "Location" | translate }}</th>
            <th>{{ "Action" | translate }}</th>
          </tr>
        </thead>
        <tbody *ngIf="bookings.length > 0">
          <ng-container *ngFor="let booking of bookings">
            <tr *ngIf="users[booking.user]">
              <td>
                {{ users[booking.user]?.firstName }}
                {{ users[booking.user]?.lastName }}
              </td>
              <td class="bookingId">
                <a
                  style="cursor: pointer"
                  [ngClass]="{
                    'disabled-link': partner.type === 'singleUnit + operator'
                  }"
                  (click)="
                    partner.type !== 'singleUnit + operator' &&
                      navigateToConfirmPayment(booking._id)
                  "
                >
                  {{ booking._id }}
                </a>
              </td>
              <td>
                {{ booking.additionalLabour }}
              </td>
              <td>
                <input
                  type="text"
                  class="form-control quote-price"
                  [ngModel]="getQuotePrice(booking._id)"
                  (ngModelChange)="setQuotePrice($event, booking._id)"
                />
              </td>
              <td class="bookingId" style="cursor: pointer;" (click)="showBookingDetails(booking._id)">{{ booking.shipmentType }}</td>
              <td>
                {{ booking.date }}
              </td>
              <td>
                {{ booking.time }}
              </td>
              <td>
                {{ getTranslatedName(booking.name) }}
              </td>
              <td>
                <div
                  class="location-item"
                  *ngIf="booking.pickup"
                  style="
                    display: flex;
                    align-items: center;
                    border-bottom: none !important;
                  "
                >
                  <div class="pick-up"></div>
                  <p style="margin: 0">{{ booking.pickup }}</p>
                </div>
                <div
                  class="location-item"
                  *ngIf="booking.dropPoints && booking.dropPoints.length > 0"
                  style="
                    display: flex;
                    align-items: center !important;
                    border-bottom: none !important;
                  "
                >
                  <div class="drop-point"></div>
                  <p style="margin: 0">{{ booking.dropPoints.join(", ") }}</p>
                </div>
                <div
                  class="location-item"
                  *ngIf="
                    !booking.pickup &&
                    (!booking.dropPoints || booking.dropPoints.length === 0)
                  "
                  style="display: flex; align-items: center"
                >
                  <p style="margin: 0">{{ booking.address }}</p>
                </div>
              </td>
              <td>
                <button
                  class="btn btn-success send-btn"
                  (click)="
                    openPaymentConfirmation(
                      partnerId,
                      booking._id,
                      getQuotePrice(booking._id)
                    )
                  "
                  [disabled]="
                    booking.paymentStatus === 'HalfPaid' ||
                    booking.paymentStatus === 'Completed' ||
                    booking.paymentStatus === 'Paid'
                  "
                  style="margin-right: 5px"
                >
                  {{ "Send" | translate }}
                </button>
                <span
                  class="close-icon"
                  (click)="removeBooking(partnerId, booking._id)"
                  [class.disabled]="
                    booking.paymentStatus === 'HalfPaid' ||
                    booking.paymentStatus === 'Completed' ||
                    booking.paymentStatus === 'Paid'
                  "
                  style="cursor: pointer"
                >
                  <i class="fas fa-times"></i>
                </span>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <h6 *ngIf="bookings.length === 0" class="no-request text-center">
      {{ "No Booking Requests found" | translate }}
    </h6>
  </div>
</div>