<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element">
      <h2>Booking</h2>
    </div>
    <div class="table-container partner-booking-page">
      <table class="table">
        <thead>
          <tr>
            <th>Booked</th>
            <th>Booking No</th>
            <th>Quote Price</th>
            <th>Date</th>
            <th>Time</th>
            <th>Mode</th>
            <th>Location</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>User</td>
            <td>#45678907</td>
            <td><input type="text" class="form-control"/></td>
            <td>Jun 10, 2022</td>
            <td>10.30 AM</td>
            <td>Box truck</td>
            <td class="location-cell">
                <span class="location-item">
                  <div class="pick-up"></div>
                  <p>xxxxxxxx</p>
                </span>
                <span class="location-item">
                  <div class="drop-point"></div>
                  <p>xxxxxxxx</p>
                </span>
              </td>
              <td class="action-cell">
                <button class="btn btn-success" (click)="openPaymentConfirmation()">Send</button>
                <span class="close-icon">
                  <i class="fas fa-times"></i>
                </span>
              </td>
          </tr>
          <tr>
            <td>User</td>
            <td>#45678907</td>
            <td><input type="text" class="form-control"/></td>
            <td>Jun 10, 2022</td>
            <td>10.30 AM</td>
            <td>Box truck</td>
            <td class="location-cell">
                <span class="location-item">
                  <div class="pick-up"></div>
                  <p>xxxxxxxx</p>
                </span>
                <span class="location-item">
                  <div class="drop-point"></div>
                  <p>xxxxxxxx</p>
                </span>
              </td>
              <td class="action-cell">
                <button class="btn btn-success">Send</button>
                <span class="close-icon">
                  <i class="fas fa-times"></i>
                </span>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
