<div class="full-height-container">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-12">
        <div class="modal-close">
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="activeModal.dismiss()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form
          class="col-md-6 forget-pass-form"
          (ngSubmit)="verifyOtpAndUpdatePassword()"
        >
          <h2 style="margin-bottom: 20px">
            {{ "CHANGE_PASSWORD" | translate }}
          </h2>
          <div class="mb-3 otp-verify-inputs">
            <label for="otp" class="form-label">{{
              "ENTER_OTP" | translate
            }}</label>
            <div class="otp-container">
              <ng-otp-input
                [config]="{ length: 6, allowNumbersOnly: true }"
                #ngOtpInput
              ></ng-otp-input>
            </div>
          </div>
          <div class="form-group" style="margin: 10px 0px">
            <label for="newPassword" class="form-label">{{
              "NEW_PASSWORD" | translate
            }}</label>
            <div class="input-with-icon" style="position: relative">
              <input
                [type]="newPasswordVisible ? 'text' : 'password'"
                class="form-control"
                id="newPassword"
                required
                [(ngModel)]="newPassword"
                name="newPassword"
              />
              <i
                class="fas"
                [ngClass]="newPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
                (click)="toggleNewPasswordVisibility()"
                style="
                  position: absolute;
                  right: 10px;
                  top: 38px;
                  cursor: pointer;
                "
              ></i>
            </div>
          </div>
          <div class="form-group" style="margin: 10px 0px">
            <label for="confirmNewPassword" class="form-label">{{
              "CONFIRM_NEW_PASSWORD" | translate
            }}</label>
            <div class="input-with-icon" style="position: relative">
              <input
                [type]="newConfirmPasswordVisible ? 'text' : 'password'"
                class="form-control"
                id="confirmNewPassword"
                required
                [(ngModel)]="confirmNewPassword"
                name="confirmNewPassword"
              />
              <i
                class="fas"
                [ngClass]="newConfirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
                (click)="toggleConfirmNewPasswordVisibility()"
                style="
                  position: absolute;
                  right: 10px;
                  top: 38px;
                  cursor: pointer;
                "
              ></i>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn" class="btn-changepass">
              {{ "CHANGE_PASSWORD_BUTTON" | translate }}
            </button>
          </div>
        </form>
        <div class="mt-3 form-label text-center">
          <div
            style="display: flex; justify-content: center; margin-bottom: 3px"
          >
            {{ "DIDNT_RECEIVE_OTP" | translate }}
            <p
              (click)="resendOtp()"
              style="margin: 0 0 0 5px; cursor: pointer; color: #6a66d1"
            >
              {{ "RESEND" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
