<ng-container *ngIf="showLoginForm; else registrationForm">
  <div class="full-height-container">
    <div class="container login-container">
      <div class="row w-100 custom-row">
        <div class="col-md-6 col-sm-12 text-center left-logo">
          <img src="assets/images/logo.png" alt="naqli-logo" />
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="modal-close">
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="activeModal.dismiss()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="login-form">
            <!-- Login Form -->
            <h2>{{ "Login" | translate}}</h2>
            <form (ngSubmit)="login()">
              <div class="mb-3">
                <label for="email" class="form-label">{{ "AUTH.EMAIL" | translate }}</label>
                <input
                  type="email"
                  class="form-control"
                  id="emailAddress"
                  required
                  [(ngModel)]="loginData.emailAddress"
                  name="emailAddress"
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">{{ 'AUTH.PASSWORD' | translate }}</label>
                <div class="input-with-icon" style="position: relative">
                  <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    class="form-control"
                    id="password"
                    required
                    [(ngModel)]="loginData.password"
                    name="password"
                  />
                  <i
                    class="fas"
                    [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
                    (click)="togglePasswordVisibility()"
                    style="
                      position: absolute;
                      right: 10px;
                      top: 38px;
                      cursor: pointer;
                    "
                  ></i>
                </div>
              </div>
              <div class="buttons">
                <button type="submit" class="btn btn-primary">{{ "Login" | translate}}</button>
                <a
                  href="#"
                  class="forgot-password"
                  (click)="openForgetPasswordModal($event)"
                  >{{ 'AUTH.FORGOT_PASSWORD' | translate }}</a
                >
              </div>
              <div class="mt-3 form-label">
                <p>
                  {{ 'AUTH.NO_ACCOUNT' | translate }}
                  <a
                    href="#"
                    (click)="toggleForm($event)"
                    style="color: #6a66d1"
                    >{{ 'AUTH.CREATE_ONE' | translate }}</a
                  >
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #registrationForm>
  <div class="login-form register position-relative">
    <div class="modal-close">
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h2>{{ 'REGISTER.TITLE' | translate }}</h2>
    <form (ngSubmit)="register()">
      <div class="row mb-3">
        <div class="col-md-6 d-flex flex-column align-items-start">
          <label for="firstName" class="form-label mb-1">{{ 'REGISTER.FIRST_NAME' | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="{{ 'REGISTER.FIRST_NAME' | translate }}"
            [(ngModel)]="user.firstName"
            name="firstName"
            required
          />
        </div>
        <div class="col-md-6 d-flex flex-column align-items-start">
          <label for="lastName" class="form-label mb-1 me-3">{{ 'REGISTER.LAST_NAME' | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="{{ 'REGISTER.LAST_NAME' | translate }}"
            [(ngModel)]="user.lastName"
            name="lastName"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12 d-flex flex-column align-items-start">
          <label for="email" class="form-label mb-1 me-3">{{ 'REGISTER.EMAIL_ADDRESS' | translate }}</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="{{ 'REGISTER.EMAIL_ADDRESS' | translate }}"
            [(ngModel)]="user.emailAddress"
            name="emailAddress"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 d-flex flex-column align-items-start">
          <label for="password" class="form-label mb-1 me-3">{{ 'REGISTER.PASSWORD' | translate }}</label>
          <div class="input-with-icon" style="position: relative">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              class="form-control"
              id="password"
              placeholder="{{ 'REGISTER.PASSWORD' | translate }}"
              [(ngModel)]="user.password"
              name="password"
              required
            />
            <i
              class="fas"
              [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
              (click)="togglePasswordVisibility()"
              style="
                position: absolute;
                right: 10px;
                top: 38px;
                cursor: pointer;
              "
            ></i>
          </div>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-start">
          <label for="confirmPassword" class="form-label mb-1 me-3"
            >{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}</label
          >
          <div class="input-with-icon" style="position: relative">
            <input
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              class="form-control"
              id="confirmPassword"
              placeholder="{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}"
              [(ngModel)]="user.confirmPassword"
              name="confirmPassword"
              required
            />
            <i
              class="fas"
              [ngClass]="confirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
              (click)="toggleConfirmPasswordVisibility()"
              style="
                position: absolute;
                right: 10px;
                top: 38px;
                cursor: pointer;
              "
            ></i>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 d-flex flex-column align-items-start">
          <label for="contactNumber" class="form-label mb-1 me-3"
            >{{ 'REGISTER.CONTACT_NUMBER' | translate }}</label
          >
          <input
            type="tel"
            class="form-control"
            id="contactNumber"
            placeholder="{{ 'REGISTER.CONTACT_NUMBER' | translate }}"
            [(ngModel)]="user.contactNumber"
            name="contactNumber"
            required
          />
        </div>
        <div class="col-md-6 d-flex flex-column align-items-start">
          <label for="alternateNumber" class="form-label mb-1 me-3"
            >{{ 'REGISTER.ALTERNATE_NUMBER' | translate }}</label
          >
          <input
            type="tel"
            class="form-control"
            id="alternateNumber"
            placeholder="{{ 'REGISTER.ALTERNATE_NUMBER' | translate }}"
            [(ngModel)]="user.alternateNumber"
            name="alternateNumber"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 d-flex flex-column align-items-start">
          <label for="address1" class="form-label mb-1 me-3">{{ 'REGISTER.ADDRESS_1' | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="address1"
            placeholder="{{ 'REGISTER.ADDRESS_1' | translate }}"
            [(ngModel)]="user.address1"
            name="address1"
            required
          />
        </div>
        <div class="col-md-6 d-flex flex-column align-items-start">
          <label for="address2" class="form-label mb-1 me-3">{{ 'REGISTER.ADDRESS_2' | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="address2"
            placeholder="{{ 'REGISTER.ADDRESS_2' | translate }}"
            [(ngModel)]="user.address2"
            name="address2"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 d-flex flex-column align-items-start">
          <label for="city" class="form-label mb-1 me-3">{{ 'REGISTER.CITY' | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="city"
            placeholder="{{ 'REGISTER.CITY' | translate }}"
            [(ngModel)]="user.city"
            name="city"
            required
          />
        </div>
        <div class="col-md-6 d-flex flex-column align-items-start">
          <label for="accountType" class="form-label mb-1 me-3"
            >{{ 'REGISTER.ACCOUNT_TYPE' | translate }}</label
          >
          <select
            class="form-select"
            id="accountType"
            [(ngModel)]="user.accountType"
            name="accountType"
            required
          >
            <option selected disabled>{{ 'REGISTER.ACCOUNT_TYPE' | translate }}</option>
            <option value="Single User">{{ 'REGISTER.ACCOUNT_TYPES.SINGLE_USER' | translate }}</option>
            <option value="Super User">{{ 'REGISTER.ACCOUNT_TYPES.SUPER_USER' | translate }}</option>
            <option value="Enterprise User">{{ 'REGISTER.ACCOUNT_TYPES.ENTERPRISE_USER' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 d-flex flex-column align-items-start">
          <label for="govtId" class="form-label mb-1 me-3">{{ 'REGISTER.GOVT_ID' | translate }}</label>
          <select
            class="form-select"
            id="govtId"
            [(ngModel)]="user.govtId"
            name="govtId"
            required
          >
            <option selected disabled>{{ 'REGISTER.GOVT_ID' | translate }}</option>
            <option value="ID Type 1">{{ 'REGISTER.GOVT_ID_OPTIONS.IQAMA' | translate }}</option>
            <option value="ID Type 2">{{ 'REGISTER.GOVT_ID_OPTIONS.NATIONAL_ID' | translate }}</option>
          </select>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-start">
          <label for="idNumber" class="form-label mb-1 me-3">{{ 'REGISTER.ID_NUMBER' | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="idNumber"
            placeholder="{{ 'REGISTER.ID_NUMBER' | translate }}"
            [(ngModel)]="user.idNumber"
            name="idNumber"
            required
          />
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-md-6 d-flex justify-content-center">
          <button
            type="submit"
            class="btn me-2"
            style="background-color: #6a66d1; color: #fff; width: 50%"
          >
          {{ 'REGISTER.CREATE_ACCOUNT' | translate }}
          </button>
          <button
            type="button"
            class="btn btn-secondary me-2"
            style="width: 50%"
          >
          {{ 'REGISTER.CANCEL' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="row justify-content-center register-bottom">
    <p>
      {{ 'REGISTER.TERMS_PRIVACY' | translate }} <span>{{ 'REGISTER.PRIVACY' | translate }}</span>
    </p>
  </div>
</ng-template>
