<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element">
      <h2>{{"Booking History" | translate}}</h2>
    </div>
    <div
      class="table-container booking-manager-table"
      style="
        max-height: 500px !important;
        overflow-y: auto !important;
        margin-top: 30px !important;
      "
    >
      <table
        class="table"
        style="box-shadow: none !important; margin: 0px 0px !important"
      >
        <thead>
          <tr>
            <th>{{"terms.BookingID" | translate}}</th>
            <th>{{"terms.Date" | translate}}</th>
            <th>{{"terms.Unit Type" | translate}}</th>
            <th>{{"terms.Payment"| translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
            <td>{{ booking._id }}</td>
            <td>{{ booking.date }}</td>
            <td>{{ "unitTypes." + booking.unitType | translate }}</td>
            <td>{{ booking.paymentStatus }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
