<div class="admin-overview">
  <div class="order-statistics">
    <div class="head-element">
      <h2>{{"OrderStatistics"|translate}}</h2>
    </div>
    <div class="boxes-container">
      <div class="box">
        <p style="font-weight: bold; font-size: 20px">
          {{ runningBookingsCount }}
        </p>
        <p>{{"OngoingBookings"|translate}}</p>
      </div>
      <div class="box">
        <p style="font-weight: bold; font-size: 20px">
          {{ bookingStatusCompletedCount }}
        </p>
        <p>{{"Completed"|translate}}</p>
      </div>
      <div class="box">
        <p style="font-weight: bold; font-size: 20px">
          {{ pendingPaymentsCount }}
        </p>
        <p>{{"PendingPayment"|translate}}</p>
      </div>
      <div class="box">
        <p style="font-weight: bold; font-size: 20px">
          {{ pendingPayoutCount }}
        </p>
        <p>{{"PendingPayout"|translate}}</p>
      </div>
    </div>
  </div>
  <div class="overview-chart">
    <div class="for-orders">
      <div class="for-orders-head">
        <h2>{{"Orders"|translate}}</h2>
        <div class="dropdown-filter">
          <select (change)="onOrderOptionChange($event)" class="form-select">
            <option
              *ngFor="let option of options"
              [value]="option"
            >
              {{ 'filters.' + option | translate }}
            </option>
          </select>
        </div>
      </div>
      <div class="chart-container">
        <canvas id="doughnutchart"></canvas>
        <div id="chart-annotations" class="annotations-container">
          <!-- Annotations will be injected here -->
        </div>
      </div>
    </div>
    <div class="for-customers">
      <app-customer-chart></app-customer-chart>
    </div>
  </div>
</div>
