<div class="home-container">
  <div class="custom-slider"></div>
  <div class="container booking-container partner-operator-form">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center mb-3" style="color: #6a66d1">
          {{ "Operator" | translate }} / {{ "Owner" | translate }}
        </h2>
        <form (ngSubmit)="handleSubmit()">
          <label
            class="col-form-label"
            style="font-size: 14px; margin-right: 30px"
            >{{ "Unit" | translate }}</label
          >

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="unitType"
              [(ngModel)]="formData.unitType"
              value="vehicle"
              (change)="onUnitTypeChange('vehicle')"
              required
            />
            <label class="form-check-label">{{
              "ITEMS.Vehicle" | translate
            }}</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="unitType"
              [(ngModel)]="formData.unitType"
              value="bus"
              (change)="onUnitTypeChange('bus')"
              required
            />
            <label class="form-check-label">{{
              "ITEMS.Bus" | translate
            }}</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="unitType"
              [(ngModel)]="formData.unitType"
              value="equipment"
              (change)="onUnitTypeChange('equipment')"
              required
            />
            <label class="form-check-label">{{
              "ITEMS.Equipment" | translate
            }}</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="unitType"
              [(ngModel)]="formData.unitType"
              value="special"
              (change)="onUnitTypeChange('special')"
              required
            />
            <label class="form-check-label">{{
              "ITEMS.Special" | translate
            }}</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="unitType"
              [(ngModel)]="formData.unitType"
              value="others"
              required
            />
            <label class="form-check-label">{{
              "ITEMS.Others" | translate
            }}</label>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px">{{
                "Unit Classification" | translate
              }}</label>
              <select
                class="form-select"
                [(ngModel)]="formData.unitClassification"
                name="unitClassification"
                (change)="onClassificationChange($event)"
                required
              >
                <option value="">
                  {{ "Select Classification" | translate }}
                </option>
                <option
                  *ngFor="let classification of classifications"
                  [value]="classification.name"
                >
                  {{ getTranslatedName(classification.name) }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px">{{
                "Sub Classification" | translate
              }}</label>
              <select
                class="form-select"
                [(ngModel)]="formData.subClassification"
                name="subClassification"
                required
              >
                <option value="">
                  {{ "Select Sub Classification" | translate }}
                </option>
                <option
                  *ngFor="let subClassification of subClassifications"
                  [value]="subClassification.typeName"
                >
                  {{
                    ("typeNames." + subClassification.typeName | translate) !==
                    "typeNames." + subClassification.typeName
                      ? ("typeNames." + subClassification.typeName | translate)
                      : ("equipmentTypeName." + subClassification.typeName
                          | translate) !==
                        "equipmentTypeName." + subClassification.typeName
                      ? ("equipmentTypeName." + subClassification.typeName
                        | translate)
                      : ("" | translate)
                  }}
                </option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px">{{
                "Plate Information" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="formData.plateInformation"
                name="plateInformation"
                required
              />
            </div>
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px">{{
                "Istimara No" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="formData.istimaraNo"
                name="istimaraNo"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px"
                >{{ "Istimara Card" | translate
                }}<span style="font-size: 12px; color: gray; margin-left: 5px">
                  <span style="color: red">*</span
                  >{{ "allowed_documents" | translate }}
                </span>
              </label>
              <input
                type="file"
                class="form-control"
                (change)="handleFileInput($event, 'istimaraCard')"
                name="istimaraCard"
                accept=".pdf,.doc,.docx"
                required
              />
            </div>
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px"
                >{{ "Picture of Vehicle" | translate
                }}<span style="font-size: 12px; color: gray; margin-left: 5px">
                  <span style="color: red">*</span>
                  {{ "allowed_images" | translate }}
                </span>
              </label>
              <input
                type="file"
                class="form-control"
                (change)="handleFileInput($event, 'pictureOfVehicle')"
                name="pictureOfVehicle"
                accept=".jpg,.jpeg,.png,.svg"
                required
              />
            </div>
          </div>
          <div class="draw-line"></div>
          <div class="row">
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px">{{
                "First Name" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="formData.firstName"
                name="firstName"
                required
              />
            </div>
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px">{{
                "Last Name" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="formData.lastName"
                name="lastName"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label class="col-form-label" style="font-size: 14px"
                >{{ "Email ID" | translate
                }}<span style="font-size: 12px; color: gray; margin-left: 5px">
                  <span style="color: red">*</span
                  >{{ "email_password_info" | translate }}
                </span>
              </label>
              <input
                type="email"
                class="form-control"
                [(ngModel)]="formData.email"
                name="email"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px"
                >{{ "Password" | translate }}
              </label>
              <div class="input-with-icon" style="position: relative">
                <input
                  [type]="passwordVisible ? 'text' : 'password'"
                  class="form-control"
                  [(ngModel)]="formData.password"
                  name="password"
                  id="password"
                  required
                />
                <i
                  class="fas"
                  [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="togglePasswordVisibility()"
                  style="
                    position: absolute;
                    right: 10px;
                    top: 38px;
                    cursor: pointer;
                  "
                ></i>
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px">{{
                "Confirm Password" | translate
              }}</label>
              <div class="input-with-icon" style="position: relative">
                <input
                  [type]="confirmPasswordVisible ? 'text' : 'password'"
                  class="form-control"
                  [(ngModel)]="formData.confirmPassword"
                  name="confirmPassword"
                  id="confirmPassword"
                  required
                />
                <i
                  class="fas"
                  [ngClass]="confirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="toggleConfirmPasswordVisibility()"
                  style="
                    position: absolute;
                    right: 10px;
                    top: 38px;
                    cursor: pointer;
                  "
                ></i>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px">{{
                "Mobile No" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="formData.mobileNo"
                name="mobileNo"
                required
              />
            </div>
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px">{{
                "Iqama No" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="formData.iqamaNo"
                name="iqamaNo"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px">{{
                "Date of Birth" | translate
              }}</label>
              <input
                type="date"
                class="form-control"
                [(ngModel)]="formData.dateOfBirth"
                name="dateOfBirth"
                required
              />
            </div>
            <div class="col-md-6">
              <label class="col-form-label" style="font-size: 14px">{{
                "Panel Information" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="formData.panelInformation"
                name="panelInformation"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label class="col-form-label" style="font-size: 14px"
                >{{ "Driving License" | translate
                }}<span style="font-size: 12px; color: gray; margin-left: 5px">
                  <span style="color: red">*</span
                  >{{ "allowed_documents" | translate }}
                </span>
              </label>
              <input
                type="file"
                class="form-control operator-file"
                (change)="handleFileInput($event, 'drivingLicense')"
                name="drivingLicense"
                accept=".pdf,.doc,.docx"
                required
              />
            </div>
            <div class="col-md-4">
              <label class="col-form-label" style="font-size: 14px"
                >{{ "Aramco License" | translate
                }}<span style="font-size: 12px; color: gray; margin-left: 5px">
                  <span style="color: red">*</span
                  >{{ "allowed_documents" | translate }} (Optional)
                </span>
              </label>
              <input
                type="file"
                class="form-control"
                (change)="handleFileInput($event, 'aramcoLicense')"
                name="aramcoLicense"
                accept=".pdf,.doc,.docx"
              />
            </div>
            <div class="col-md-4">
              <label class="col-form-label" style="font-size: 14px"
                >{{ "National ID" | translate
                }}<span style="font-size: 12px; color: gray; margin-left: 5px">
                  <span style="color: red">*</span
                  >{{ "allowed_documents" | translate }}
                </span>
              </label>
              <input
                type="file"
                class="form-control"
                (change)="handleFileInput($event, 'nationalID')"
                name="nationalID"
                accept=".pdf,.doc,.docx"
                required
              />
            </div>
          </div>
          <div class="draw-line"></div>

          <div class="row">
            <div class="col-md-12">
              <label class="col-form-label" style="font-size: 14px">{{
                "Partner Name/ID" | translate
              }}</label>
              <div class="input-group create-operator">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="formData.partnerName"
                  [disabled]="!isEditing"
                  name="partnerId"
                  (input)="enableSubmitButton()"
                />
                <button
                  type="button"
                  (click)="toggleEditMode()"
                  style="
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                  "
                >
                  <fa-icon [icon]="isEditing ? faTimes : faEdit"></fa-icon>
                </button>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <button
                type="submit"
                class="btn custom-register-btn"
                [disabled]="!isSubmitEnabled"
              >
                {{ "Submit" | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
