<nav class="navbar">
  <div class="container">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="121.983"
        height="56.258"
        viewBox="0 0 121.983 56.258"
      >
        <defs>
          <linearGradient
            id="linear-gradient"
            y1="0.5"
            x2="1"
            y2="0.5"
            gradientUnits="objectBoundingBox"
          >
            <stop offset="0.15" stop-color="#6069ff" />
            <stop offset="1" stop-color="#7f6bf6" />
          </linearGradient>
          <linearGradient
            id="linear-gradient-3"
            y1="0.5"
            x2="1"
            y2="0.5"
            gradientUnits="objectBoundingBox"
          >
            <stop offset="0.15" stop-color="#6069ff" />
            <stop offset="1" stop-color="#8b7dff" />
          </linearGradient>
        </defs>
        <g
          id="Group_3"
          data-name="Group 3"
          transform="translate(-264.102 -343.231)"
        >
          <path
            id="Path_1"
            data-name="Path 1"
            d="M283.854,399.409l1.409-.759s-.01-20.768-.034-21.837c0,0-.44-5.56,1.612-9.411a9.585,9.585,0,0,1,3.34-3.711,9.334,9.334,0,0,1,4.178-1.388,24.127,24.127,0,0,0-3.148-.519c-.846-.082-1.637-.114-2.364-.113.369-.216.768-.431,1.2-.639a17.533,17.533,0,0,1,2.721-1.051,8.754,8.754,0,0,0-5.141,2.268,16.62,16.62,0,0,0-2.35,2.268c-2.1,4.391-2.531,15.153-3.017,34.893"
            transform="translate(-12.167 -11.224)"
            fill="#0d0dff"
          />
          <path
            id="Path_2"
            data-name="Path 2"
            d="M356.2,351.987l-4.031,13.591-3.44,11.56v16.915H356.2Z"
            transform="translate(-56.709 -5.868)"
            fill="url(#linear-gradient)"
          />
          <path
            id="Path_3"
            data-name="Path 3"
            d="M275.973,353.216c1.763-1.392,3.367-1.539,9.892-3.323,4.229-1.156,7.639-2.21,9.841-2.914-11.335.034-15.519.232-16.845.445l-2.511.406a16.266,16.266,0,0,0-2.446.742,19.647,19.647,0,0,0-4.824,2.835c-5.235,4.423-4.989,13.934-4.972,14.4V390.7h7.58V366.665C271.4,357.849,274.29,354.546,275.973,353.216Z"
            transform="translate(0 -2.512)"
            fill="url(#linear-gradient)"
          />
          <g
            id="Group_1"
            data-name="Group 1"
            transform="translate(277.327 343.231)"
          >
            <path
              id="Path_4"
              data-name="Path 4"
              d="M326.924,343.231l-2.431.794-3.051.961-6.1,1.92-6.124,1.849L304.2,350.24a13.734,13.734,0,0,1,2.282.055,14.733,14.733,0,0,1,3.395.811,16.194,16.194,0,0,1,4.907,2.886l4.189-3.981Z"
              transform="translate(-304.195 -343.231)"
              fill="#0d0dff"
            />
            <path
              id="Path_5"
              data-name="Path 5"
              d="M341.653,355.875a11.739,11.739,0,0,1,1.319,3.1,20.465,20.465,0,0,1,.358,4.848c.013.9,0,1.566,0,1.979-.017,1.48-.034,3.612-.028,6.336l5.635-18.678,3.089-10.225q-2.69,3.291-5.386,6.576Q344.149,352.844,341.653,355.875Z"
              transform="translate(-329.297 -343.231)"
              fill="#0d0dff"
            />
          </g>
          <path
            id="Path_6"
            data-name="Path 6"
            d="M334.885,353.615c.177.136.363.288.552.46.223.2.421.4.6.59L347.5,343.231Z"
            transform="translate(-47.435)"
            fill="url(#linear-gradient-3)"
          />
          <path
            id="Path_7"
            data-name="Path 7"
            d="M323.566,382.3c-10.386,9.585-8.851,25.159-.5,32.743,6.484,5.891,17.385,6.628,26.191,1.114"
            transform="translate(-34.97 -26.185)"
            fill="none"
            stroke="#0d0dff"
            stroke-miterlimit="10"
            stroke-width="1"
            stroke-dasharray="5"
          />
          <g
            id="Group_2"
            data-name="Group 2"
            transform="translate(301.195 349.259)"
          >
            <path
              id="Path_8"
              data-name="Path 8"
              d="M385.886,422.521a10.024,10.024,0,0,1-3.68-.666,9.122,9.122,0,0,1-2.959-1.84,8.641,8.641,0,0,1-1.973-2.746,8.164,8.164,0,0,1-.72-3.439,7.2,7.2,0,0,1,.853-3.493,7.938,7.938,0,0,1,2.426-2.693,12.51,12.51,0,0,1,3.733-1.76,16.556,16.556,0,0,1,4.719-.64,23.255,23.255,0,0,1,4.106.373,18.955,18.955,0,0,1,3.679,1.013v-2.24a6.709,6.709,0,0,0-7.359-7.3,15.575,15.575,0,0,0-8.852,3.253l-1.546-3.039a19.251,19.251,0,0,1,10.825-3.626q5.492,0,8.558,2.933t3.066,8.265v11.358q0,1.654,1.493,1.706v4.053c-.5.071-.906.124-1.226.16a9.431,9.431,0,0,1-1.013.053,2.987,2.987,0,0,1-2.213-.827,3.4,3.4,0,0,1-.986-2l-.107-1.973a12.045,12.045,0,0,1-4.719,3.813A14.5,14.5,0,0,1,385.886,422.521ZM387.112,419a11.632,11.632,0,0,0,4.666-.934,7.675,7.675,0,0,0,3.279-2.479,2.962,2.962,0,0,0,1.013-2.08V409.4a19.334,19.334,0,0,0-7.092-1.333,10.063,10.063,0,0,0-5.732,1.493,4.518,4.518,0,0,0-2.213,3.893,5.284,5.284,0,0,0,.453,2.186,5.2,5.2,0,0,0,1.28,1.76,6.1,6.1,0,0,0,1.946,1.173,6.679,6.679,0,0,0,2.4.428Z"
              transform="translate(-376.554 -383.062)"
              fill="url(#linear-gradient)"
            />
            <path
              id="Path_9"
              data-name="Path 9"
              d="M479.719,422.521a10.965,10.965,0,0,1-5.066-1.173,12.383,12.383,0,0,1-3.946-3.173,14.731,14.731,0,0,1-2.559-4.613,16.615,16.615,0,0,1-.906-5.492,15.2,15.2,0,0,1,1.013-5.546,14.638,14.638,0,0,1,2.8-4.586,13.377,13.377,0,0,1,4.186-3.119,11.845,11.845,0,0,1,5.172-1.147,11.288,11.288,0,0,1,5.919,1.6,12.115,12.115,0,0,1,4.213,4.159v-5.279H494.7v33.221q0,1.652,1.493,1.706v4.053a20.153,20.153,0,0,1-2.506.16A3.535,3.535,0,0,1,491.1,432.2a3.6,3.6,0,0,1-1.093-2.639V416.5Q486.171,422.522,479.719,422.521Zm1.6-4.052a7.969,7.969,0,0,0,5.146-1.733,14.157,14.157,0,0,0,3.546-4.239v-8a7.055,7.055,0,0,0-1.12-2.586,9.147,9.147,0,0,0-2.053-2.16,11.1,11.1,0,0,0-2.613-1.466,7.556,7.556,0,0,0-2.8-.56,8.133,8.133,0,0,0-3.786.88,9.709,9.709,0,0,0-2.96,2.346,10.878,10.878,0,0,0-1.946,3.359,11.16,11.16,0,0,0-.693,3.866,11.451,11.451,0,0,0,.693,3.973,10.138,10.138,0,0,0,1.919,3.279,9.239,9.239,0,0,0,2.933,2.213,8.439,8.439,0,0,0,3.733.828Z"
              transform="translate(-437.327 -383.062)"
              fill="url(#linear-gradient)"
            />
            <path
              id="Path_10"
              data-name="Path 10"
              d="M573.769,361.5h4.692v31.728a3.4,3.4,0,0,0,.827,2.426,3.026,3.026,0,0,0,2.32.88,6.194,6.194,0,0,0,1.386-.186,11.271,11.271,0,0,0,1.493-.453l.747,3.786a15.332,15.332,0,0,1-2.773.8,14.607,14.607,0,0,1-2.826.32,5.854,5.854,0,0,1-4.292-1.546,5.78,5.78,0,0,1-1.573-4.319Z"
              transform="translate(-508.716 -361.504)"
              fill="url(#linear-gradient)"
            />
            <path
              id="Path_11"
              data-name="Path 11"
              d="M619.678,367.37V361.5h4.693v5.866Zm0,33.061V372.6h4.693v27.83Z"
              transform="translate(-539.481 -361.504)"
              fill="url(#linear-gradient)"
            />
          </g>
        </g>
      </svg>
    </a>

    <!-- Centered Links -->
    <div class="centered-links" (click)="logout()">
      <a [routerLink]="'/home/user'" routerLinkActive="active" class="nav-link" 
        >User</a
      >
      <span class="vertical-line"></span>
      <a
        [routerLink]="'/home/partner'"
        routerLinkActive="active"
        class="nav-link"
        >Partner</a
      >
    </div>

    <!-- Navbar right-side elements -->
    <div class="right-side-elements">
      <div class="dropdown">
        <button class="dropbtn" (click)="toggleDropdown()">
          {{ selectedLanguage }} ▼
        </button>
        <div class="dropdown-content" [class.show]="isDropdownOpen">
          <a href="#" class="dropdown-item" (click)="selectLanguage('English')"
            >English</a
          >
          <a href="#" class="dropdown-item" (click)="selectLanguage('Tamil')"
            >Tamil</a
          >
        </div>
      </div>
      <button
        *ngIf="!isAuthenticated"
        type="button"
        class="btn"
        (click)="openLoginModal()"
      >
        Login
      </button>
      <button *ngIf="isAuthenticated" type="button" class="btn">
        {{ firstName }} {{ lastName }} {{ partnerName }}
      </button>
      <div class="notification-icon">
        <i class="fa fa-bell" aria-hidden="true"></i>
      </div>
      <button
        *ngIf="isAuthenticated"
        type="button"
        class="btn"
        (click)="logout()"
      >
        Logout
      </button>
    </div>

    <!-- Hamburger Menu Button -->
    <button class="hamburger" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>

  <!-- Hamburger menu content -->
  <div class="hamburger-menu" [class.active]="isMenuOpen">
    <a [routerLink]="'/home/user'" routerLinkActive="active" class="nav-link"
      >User</a
    >
    <a [routerLink]="'/home/partner'" routerLinkActive="active" class="nav-link"
      >Partner</a
    >
    <div class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown()">
        {{ selectedLanguage }} ▼
      </button>
      <div class="dropdown-content" [class.show]="isDropdownOpen">
        <a href="#" class="dropdown-item" (click)="selectLanguage('English')"
          >English</a
        >
        <a href="#" class="dropdown-item" (click)="selectLanguage('Tamil')"
          >Tamil</a
        >
      </div>
    </div>
    <button
        *ngIf="!isAuthenticated"
        type="button"
        class="btn"
        (click)="openLoginModal()"
      >
        Login
      </button>
      <button *ngIf="isAuthenticated" type="button" class="btn">
        {{ partnerName }} || {{ firstName }} {{ lastName }} 
      </button>
      <div class="notification-icon">
        <i class="fa fa-bell" aria-hidden="true"></i>
      </div>
      <button
        *ngIf="isAuthenticated"
        type="button"
        class="btn"
        (click)="logout()"
      >
        Logout
      </button>
  </div>
</nav>
