<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element" style="position: relative">
      <h2>Partners</h2>
    </div>
    <div class="dropdown-container">
      <select class="form-select" (change)="onActionSelected($event)">
        <option *ngFor="let option of options" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>
              <input
                type="checkbox"
                [checked]="isAllSelected"
                (change)="toggleSelectAll($event)"
              />
            </th>
            <th>Partner Name</th>
            <th>Partner ID</th>
            <th>Email Id</th>
            <th>Last sign-in</th>
            <th>Contact no</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let partner of partners"
            [class.disabled]="partner.isBlocked || partner.isSuspended"
            class="make-disable"
          >
            <td>
              <input
                type="checkbox"
                [(ngModel)]="partner.selected"
                (change)="updateSelectAllState()"
              />
            </td>
            <td>{{ partner.partnerName }}</td>
            <td>{{ partner._id }}</td>
            <td>{{ partner.email }}</td>
            <td>{{ partner.updatedAt | date : "short" }}</td>
            <td>{{ partner.mobileNo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
