<div class="row">
    <div class="col-md-12 booking-history">
      <div class="head-element">
        <h2>Partners</h2>
      </div>
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>Partner Name</th>
              <th>Partner ID</th>
              <th>Email Id</th>
              <th>Last sign-in</th>
              <th>Contact no</th>
              <!-- <th>Address</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let partner of partners">
              <td>{{ partner.partnerName }}</td>
              <td>{{ partner._id }}</td>
              <td>{{ partner.email }}</td>
              <td>{{ partner.updatedAt | date: 'short' }}</td>
              <td>{{ partner.mobileNo }}</td>
              <!-- <td>{{ partner.address1 }} {{ partner.address2 ? ', ' + partner.address2 : '' }}, {{ partner.city }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>