<div class="payment-result-container">
  <h1>{{ "terms.Payment Status" | translate }}</h1>

  <!-- Display "Please wait" message while the payment is in process -->
  <div *ngIf="!paymentStatus" class="waiting-message">
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 2vh;
      "
    >
      <div class="dot-container">
        <div class="circle"></div>
      </div>
      <div class="dot-container">
        <div class="circle"></div>
      </div>
      <div class="dot-container">
        <div class="circle"></div>
      </div>
      <div class="dot-container">
        <div class="circle"></div>
      </div>
      <div class="dot-container">
        <div class="circle"></div>
      </div>
      <div class="dot-container">
        <div class="circle"></div>
      </div>
      <div class="dot-container">
        <div class="circle"></div>
      </div>
      <div class="dot-container">
        <div class="circle"></div>
      </div>
      <div class="dot-container">
        <div class="circle"></div>
      </div>
      <div class="dot-container">
        <div class="circle"></div>
      </div>
    </div>
    <p style="color: #616161; margin-top: 15px">
      <span style="color: rgb(42, 42, 235)">{{
        "Please wait !!" | translate
      }}</span
      >,
      {{
        "Your payment is in process... Do not refresh or close the page."
          | translate
      }}
    </p>
  </div>

  <!-- Show the actual payment status once available -->
  <div *ngIf="paymentStatus" class="status-message-container">
    <div
      class="status-message"
      [ngClass]="{
        success: paymentStatus === 'Payment Successful!',
        error: paymentStatus === 'Payment failed. Please try again.'
      }"
    >
      <p>{{ paymentStatus }}</p>
    </div>

    <!-- Show redirect message only if the payment was successful -->
    <div
      *ngIf="paymentStatus === 'Payment Successful!'"
      class="redirect-message"
    >
      <p>
        {{
          "You will be redirected to the dashboard by clicking this."
            | translate
        }}
      </p>
    </div>

    <!-- Button to manually go to dashboard -->
    <button
      class="goTo-dashboard-btn"
      (click)="goToDashboard()"
    >
      {{ "Go to Dashboard" | translate }}
    </button>
  </div>
</div>
