<div class="home-container">
  <div class="custom-slider">
    <!-- Content for the custom-slider -->
  </div>

  <div class="container login-container partner-login">
    <div class="row custom-row">
      <div class="col-md-6 col-sm-12 text-center left-logo">
        <img src="assets/images/logo.png" alt="naqli-logo" />
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="login-form">
          <h2>{{ "Login" | translate }}</h2>
          <form (ngSubmit)="login()">
            <div class="mb-3">
              <label for="emailOrMobile" class="form-label"
                >{{ "Mobile No" | translate }} /
                {{ "Email" | translate }}</label
              >
              <input
                type="email"
                class="form-control"
                id="emailOrMobile"
                required
                [(ngModel)]="loginData.emailOrMobile"
                name="emailOrMobile"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">{{
                "Password" | translate
              }}</label>
              <div class="input-with-icon" style="position: relative">
                <input
                  [type]="passwordVisible ? 'text' : 'password'"
                  class="form-control"
                  id="password"
                  required
                  [(ngModel)]="loginData.password"
                  name="password"
                />
                <i
                  class="fas"
                  [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="togglePasswordVisibility()"
                  style="
                    position: absolute;
                    right: 10px;
                    top: 38px;
                    cursor: pointer;
                  "
                ></i>
              </div>
            </div>
            <div class="buttons">
              <button type="submit" class="btn btn-primary">
                {{ "Login" | translate }}
              </button>
              <a
                href="#"
                class="forgot-password"
                (click)="openForgetPasswordModal($event)"
                >{{ "AUTH.FORGOT_PASSWORD" | translate }}</a
              >
            </div>
            <div class="mt-3 form-label">
              <p>
                {{ "AUTH.NO_ACCOUNT" | translate }}
                <a
                  href="#"
                  (click)="toggleForm($event)"
                  style="color: #6a66d1"
                  >{{ "AUTH.CREATE_ONE" | translate }}</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
