<div class="home-container">
  <div class="custom-slider">
    <h2 class="booking-container-head">Available Vehicle Units</h2>
  </div>
  <div class="container booking-container">
    <div class="row">
      <div class="col-md-6">
        <div class="vehicle-cols">
          <div class="row vehicle-cols-1" *ngFor="let vehicle of vehicles">
            <div class="col-md-7 left-col">
              <img src="assets/images/delivery-truck.svg" />
              <p>{{ vehicle.name }}</p>
            </div>
            <div class="col-md-5 border">
              <div class="custom-select-wrapper">
                <div class="custom-select">
                  <div
                    class="custom-select-trigger"
                    (click)="toggleOptions(vehicle.name)"
                    [attr.data-vehicle]="vehicle.name"
                  >
                    <span>{{
                      selectedOptions[vehicle.name]?.typeName ||
                        "Select an option"
                    }}</span>
                    <i class="fa-solid fa-chevron-down"></i>
                  </div>
                  <div
                    class="custom-options"
                    [class.show]="optionsVisible[vehicle.name]"
                  >
                    <div
                      *ngFor="let type of vehicle.type"
                      class="custom-option"
                      (click)="selectOption(type, vehicle.name)"
                    >
                      <div class="option-content">
                        <img [src]="type.typeImage" [alt]="type.typeName" />
                        <div class="text-content">
                          <span>{{ type.typeName }}</span>
                          <span class="scale">{{ type.scale }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center" style="margin: 20px 0px">
            <div class="col-md-6 booking-inputs">
              <ngb-timepicker
                class="custom-timepicker"
                [(ngModel)]="bookingData.time"
                [spinners]="true"
                [meridian]="true"
                required
              ></ngb-timepicker>
            </div>
            <div class="col-md-6 booking-inputs">
              <input
                type="date"
                class="form-control"
                [(ngModel)]="bookingData.date"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 booking-inputs">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="bookingData.productValue"
                placeholder="Value of the product"
                required
              />
            </div>
            <div class="col-md-6 booking-inputs">
              <select
                class="form-select"
                [ngModel]="bookingData.type[0]?.typeOfLoad"
                (ngModelChange)="bookingData.type[0].typeOfLoad = $event"
                required
              >
                <option value="" disabled selected>Load Type</option>
                <option
                  *ngFor="let load of filteredLoads[selectedVehicleName]"
                  [value]="load"
                >
                  {{ load }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 bottom-checkbox">
              <div class="checkbox-container">
                <input
                  type="checkbox"
                  id="additionalLabourCheckbox"
                  (change)="toggleAdditionalLabour($event)"
                  [checked]="additionalLabourEnabled"
                />
                <label for="additionalLabourCheckbox"
                  >Need any additional labour</label
                >
              </div>
              <div class="radio-container" *ngIf="additionalLabourEnabled">
                <input
                  type="radio"
                  id="radio1"
                  name="radios"
                  value="1"
                  (change)="logRadioValue($event)"
                  [checked]="bookingData.additionalLabour === 1"
                />
                <label for="radio1">1</label>
                <input
                  type="radio"
                  id="radio2"
                  name="radios"
                  value="2"
                  (change)="logRadioValue($event)"
                  [checked]="bookingData.additionalLabour === 2"
                />
                <label for="radio2">2</label>
                <input
                  type="radio"
                  id="radio3"
                  name="radios"
                  value="3"
                  (change)="logRadioValue($event)"
                  [checked]="bookingData.additionalLabour === 3"
                />
                <label for="radio3">3</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="row-container">
          <div class="input-field" style="position: relative">
            <div class="pick-up"></div>
            <input
              type="text"
              placeholder="Enter pickup location"
              [(ngModel)]="bookingData.pickup"
              (focus)="setActiveInputField('pickup')"
              (input)="onPickupInputChange()"
              required
              style="margin-bottom: 8px"
            />
            <!-- Pickup Suggestions -->
            <div
              class="suggestions-dropdown"
              *ngIf="pickupSuggestions.length > 0"
            >
              <div
                class="suggestion-item"
                *ngFor="let suggestion of pickupSuggestions"
                (click)="selectPickupSuggestion(suggestion)"
                [ngClass]="{
                  'your-location': suggestion.description === 'Your location'
                }"
                style="display: flex; align-items: center"
              >
                <span *ngIf="suggestion.description === 'Your location'">
                  <i
                    class="fas fa-crosshairs"
                    style="margin-right: 8px; color: #0d6efd"
                  ></i>
                </span>
                <span
                  [style.color]="
                    suggestion.description === 'Your location'
                      ? '#0d6efd'
                      : 'inherit'
                  "
                >
                  {{ suggestion.description }}
                </span>
              </div>
            </div>
          </div>
          <div
            *ngFor="
              let dropPoint of bookingData.dropPoints;
              let i = index;
              trackBy: trackByIndex
            "
            class="input-field"
            style="position: relative"
          >
            <div class="drop-point"></div>
            <input
              type="text"
              [placeholder]="'Drop point location ' + (i + 1)"
              [(ngModel)]="bookingData.dropPoints[i]"
              (focus)="setActiveInputField('dropPoint', i)"
              (input)="onDropPointInputChange(i)"
              required
            />
            <div
              class="circle"
              *ngIf="i === 0 && bookingData.dropPoints.length === 1"
              (click)="addInputField()"
            >
              <i class="fas fa-plus"></i>
            </div>
            <div class="circle" *ngIf="i !== 0" (click)="removeInputField(i)">
              <i class="fas fa-times"></i>
            </div>
            <div
              class="suggestions-dropdown"
              *ngIf="
                dropPointSuggestions[i] && dropPointSuggestions[i].length > 0
              "
            >
              <div
                class="suggestion-item"
                *ngFor="let suggestion of dropPointSuggestions[i]"
                (click)="selectDropPointSuggestion(suggestion, i)"
                [ngClass]="{
                  'your-location': suggestion.description === 'Your location'
                }"
                style="display: flex; align-items: center"
              >
                <span *ngIf="suggestion.description === 'Your location'">
                  <i
                    class="fas fa-crosshairs"
                    style="margin-right: 8px; color: #0d6efd"
                  ></i>
                </span>
                <span
                  [style.color]="
                    suggestion.description === 'Your location'
                      ? '#0d6efd'
                      : 'inherit'
                  "
                >
                  {{ suggestion.description }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button
            type="submit"
            class="btn create-booking"
            (click)="updateRoute()"
          >
            Get Direction
          </button>
        </div>
        <div id="map" class="google-map-style"></div>
        <div class="buttons">
          <button
            type="submit"
            class="btn create-booking"
            (click)="submitBooking()"
          >
            Create Booking
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
