<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element" style="margin-bottom: 20px !important">
      <h2>{{ "Payment" | translate }}</h2>
    </div>
    <div
      class="table-container booking-manager-table"
      style="position: relative; max-height: 480px !important; overflow-y: auto"
    >
      <table
        class="table table-responsive"
        style="width: 100%; box-shadow: none !important; margin: 0px 0px"
      >
        <thead
          style="position: sticky; top: 0; z-index: 1; background-color: #fff"
        >
          <tr>
            <th>{{ "User" | translate }}</th>
            <th>{{ "terms.BookingID" | translate }}</th>
            <th>{{ "Unit" | translate }}</th>
            <th>{{ "UnitType" | translate }}</th>
            <th>{{ "Partner" | translate }}</th>
            <th>{{ "PaymentMade" | translate }}</th>
            <th>{{ "PendingPayment" | translate }}</th>
            <th>{{ "Commission" | translate }}</th>
            <th>{{ "PaymentStatus" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of bookingsWithDetails">
            <td>{{ item.user?.firstName }} {{ item.user?.lastName }}</td>
            <td
              class="bookingId"
              (click)="userBookingDetails(item.booking._id)"
            >
              {{ item.booking._id }}
            </td>
            <td>
              {{ getTranslatedName(item.booking.name) }} -
              {{  ('typeNames.' + item.booking.type?.[0]?.typeName | translate) !== 'typeNames.' + item.booking.type?.[0]?.typeName
              ? ('typeNames.' + item.booking.type?.[0]?.typeName | translate)
              : ('equipmentTypeName.' + item.booking.type?.[0]?.typeName | translate) !== 'equipmentTypeName.' + item.booking.type?.[0]?.typeName
              ? ('equipmentTypeName.' + item.booking.type?.[0]?.typeName | translate )
              : ''
            | translate }}
            </td>
            <td>{{ item.booking.unitType }}</td>
            <td>{{ item.partner?.data?.partnerName }}</td>
            <td>{{ item.booking.paymentAmount }}</td>
            <td
              [ngStyle]="{
                color:
                  item.booking.paymentStatus === 'Paid' ||
                  item.booking.paymentStatus === 'Completed'
                    ? 'forestgreen'
                    : 'red'
              }"
            >
              {{
                item.booking.paymentStatus === "Paid" ||
                item.booking.paymentStatus === "Completed"
                  ? item.booking.paymentStatus
                  : item.booking.remainingBalance
              }}
            </td>
            <td>{{ item.booking.adminCommission }}</td>
            <td>
              <i
                [ngClass]="
                  item.booking.paymentStatus === 'Completed' ||
                  item.booking.paymentStatus === 'Paid'
                    ? 'fa fa-check'
                    : 'fa fa-times'
                "
                [ngStyle]="{
                  color:
                    item.booking.paymentStatus === 'Completed' ||
                    item.booking.paymentStatus === 'Paid'
                      ? 'forestgreen'
                      : 'red'
                }"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
