<div class="row">
  <div class="col-md-12">
    <div class="booking-modal">
      <h2>Booking ID: {{ booking._id }}</h2>
      <div class="modal-close">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeModalAndNavigate()"
          style="margin-right: 10px; color: white"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <!-- Modal Body Container -->
    <div class="trigger-modal-body container">
      <!-- First Column -->
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="trigger-payment-model row">
            <label class="col-md-6 col-sm-3">Vendor Name</label>
            <p class="col-md-6 col-sm-3">{{ vendor.name }}</p>
          </div>
          <div class="trigger-payment-model row">
            <label class="col-md-6">Phone Number</label>
            <p class="col-md-6">9845621357</p>
          </div>
          <div class="trigger-payment-model row">
            <label class="col-md-6">Booking ID</label>
            <p class="col-md-6">{{ booking._id }}</p>
          </div>
          <div class="trigger-payment-model row">
            <label class="col-md-6">Mode</label>
            <p class="col-md-6">
              {{ booking.name }} - {{ booking.type[0]?.typeName }}
            </p>
          </div>
        </div>

        <!-- Second Column -->
        <div class="col-md-6 col-sm-12">
          <div class="trigger-payment-model row">
            <label class="col-md-6">From</label>
            <p class="col-md-6">{{ booking.pickup }}</p>
          </div>
          <div class="trigger-payment-model row">
            <label class="col-md-6">To</label>
            <p class="col-md-6">{{ booking.dropPoints.join(", ") }}</p>
          </div>
          <div class="trigger-payment-model row">
            <label class="col-md-6">Extra Labour</label>
            <p class="col-md-6">{{ booking.additionalLabour }}</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div
          style="
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 20px;
          "
        >
          <button
            type="button"
            class="btn btn-payNow"
            style="width: 200px !important"
          >
            Pay Advance: {{ vendor.price / 2 }} SAR
          </button>
          <button
            type="button"
            class="btn btn-payNow"
            style="width: 200px !important"
          >
            Pay: {{ vendor.price }} SAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
