<div class="row">
  <div class="col-md-12">
    <div class="booking-modal">
      <h2>Booking ID: {{ booking._id }}</h2>
      <div class="modal-close">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeModalAndNavigate()"
          style="margin-right: 10px; color: white"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <!-- Modal Body Container -->
    <div class="trigger-modal-body container">
      <!-- First Column -->
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="trigger-payment-model row justify-content-center">
            <label class="col-md-6 col-sm-12">Vendor Name</label>
            <p class="col-md-6 col-sm-12">{{ vendor.name }}</p>
          </div>
          <div class="trigger-payment-model row">
            <label class="col-md-6 col-sm-12">Phone Number</label>
            <p class="col-md-6 col-sm-12">{{ partnerNo }}</p>
          </div>
          <div class="trigger-payment-model row">
            <label class="col-md-6 col-sm-12">Booking ID</label>
            <p class="col-md-6 col-sm-12">{{ booking._id }}</p>
          </div>
          <div class="trigger-payment-model row">
            <label class="col-md-6 col-sm-12">Mode</label>
            <p class="col-md-6 col-sm-12">
              {{ booking.name }}
              <span *ngIf="booking.type && booking.type.length > 0 && booking.type[0]?.typeName"> - {{ booking.type[0]?.typeName }}</span>
            </p>
          </div>
        </div>

        <!-- Second Column -->
        <div class="col-md-6 col-sm-12">
          <div class="trigger-payment-model row">
            <label class="col-md-6 col-sm-12">From</label>
            <p class="col-md-6 col-sm-12">{{ booking.pickup }}</p>
          </div>
          <div class="trigger-payment-model row">
            <label class="col-md-6 col-sm-12">To</label>
            <p class="col-md-6 col-sm-12">{{ booking.dropPoints.join(", ") }}</p>
          </div>
          <div class="trigger-payment-model row">
            <label class="col-md-6 col-sm-12">Extra Labour</label>
            <p class="col-md-6 col-sm-12">{{ booking.additionalLabour }}</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div
          style="
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 20px;
          "
        >
          <button
            type="button"
            class="btn btn-payNow"
            style="width: 200px !important"
            (click)="
              makePayment(
                $event,
                (vendor.price || 0) / 2,
                'HalfPaid',
                vendor.partnerId,
                vendor.oldQuotePrice
              )
            "
          >
            Pay Advance: {{ vendor.price / 2 }} SAR
          </button>
          <button
            type="button"
            class="btn btn-payNow"
            style="width: 200px !important"
            (click)="
              makePayment(
                $event,
                vendor.price,
                'Paid',
                vendor.partnerId,
                vendor.oldQuotePrice
              )
            "
          >
            Pay: {{ vendor.price }} SAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
