<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element">
      <h2>{{ "dashboardItems.Invoice" | translate }}</h2>
    </div>
    <div *ngIf="isInvoiceTableVisible">
      <div class="notification-bar">
        <input
          type="text"
          placeholder="Search by Invoice ID, Date, User, Partner"
          class="search-bar"
          [(ngModel)]="searchTerm"
          (input)="onSearchInputChange()"
        />
      </div>
      <div
        class="table-container booking-manager-table"
        style="max-height: 450px !important; overflow-y: auto !important"
      >
        <table
          class="table"
          style="width: 100%; box-shadow: none !important; margin: 0px 0px"
        >
          <thead
            style="position: sticky; top: 0; z-index: 1; background-color: #fff"
          >
            <tr>
              <th>{{ "Invoice Id" | translate }}</th>
              <th>{{ "terms.Date" | translate }}</th>
              <th>Booking Id</th>
              <th>{{ "dashboardItems.Partner" | translate }}</th>
              <th>{{ "terms.Unit Type" | translate }}</th>
              <th>{{ "Total amount" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of filteredBookings">
              <td class="invoice-id" (click)="createInvoice(booking.invoiceId)">
                {{ booking.invoiceId }}
              </td>
              <td>{{ booking.date | date : "dd/MM/yyyy" }}</td>
              <td>
                {{ booking._id }}
              </td>
              <td>{{ booking.partnerDetails?.partnerName || "Loading..." }}</td>
              <td>{{ "unitTypes." + booking.unitType | translate }}</td>
              <td>{{ booking.paymentAmount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="!isInvoiceTableVisible">
  <button
    class="back-button"
    (click)="goBackToList()"
    style="margin: 10px 10px !important"
  >
    <fa-icon [icon]="faArrowLeft"></fa-icon>&nbsp; {{ "back" | translate }}
  </button>
  <div class="action-container">
    <!-- <div class="action-btn">
      <fa-icon [icon]="faEdit"></fa-icon>
      <p>{{ "Edit" | translate }}</p>
    </div> -->
    <div class="action-btn" (click)="printInvoice()">
      <fa-icon [icon]="faPrint"></fa-icon>
      <p>{{ "print" | translate }}</p>
    </div>

    <div class="divider"></div>
    <div class="action-btn" (click)="downloadInvoice()">
      <fa-icon [icon]="faDownload"></fa-icon>
      <p>{{ "download" | translate }}</p>
    </div>
  </div>

  <div class="create-invoice-outer-card" id="invoice-container">
    <div
      class="create-invoice-content"
      *ngFor="let booking of detailedBookings"
    >
      <div *ngIf="booking.invoiceId === selectedInvoiceId">
        <div class="bill-row">
          <div class="qr-code-section mt-4 col-md-3">
            <qrcode
              [qrdata]="qrCodeData"
              [width]="200"
              [errorCorrectionLevel]="'M'"
            ></qrcode>
          </div>
          <div class="mt-4 billto-left col-md-3">
            <img src="assets/images/naqlee-logo.svg" alt="naqlee-logo" />
            <div class="invoice-from">
              <p>PIANNAT AL-HASIB</p>
              <p>3455 al-dammam</p>
              <p>34264-7932 3</p>
            </div>
          </div>
          <!-- Add QR Code Section -->

          <div class="mt-4 billto-right col-md-3">
            <h5>{{"taxInvoice"|translate}}</h5>
            <p>
              <b>{{ "Invoice Id" | translate }}</b> {{ booking.invoiceId }}
            </p>
          </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="row invoice-info">
          <div class="col-md-3">
            <b>{{"terms.Date"|translate}}</b>
            <span>{{ booking.invoiceDate }}</span>
          </div>
          <div class="col-md-3">
            <b>Booking id</b> 
            <span>{{ booking._id }}</span>
          </div>
          <div class="col-md-3">
            <b>{{ "terms.Unit Type" | translate }}</b>
            <span>{{ booking.unitType }}</span>
          </div>
          <div class="col-md-3">
            <b>{{ "terms.Payment" | translate }}</b>
            <span>{{ booking.paymentType }}</span>
          </div>
        </div>
        <div class="row user-info">
          <div class="col-md-3">
            <b>{{"Name"|translate}}</b>
            <span>
              {{ booking.userDetails?.firstName }}
              {{ booking.userDetails?.lastName }}
            </span>
          </div>
          <div class="col-md-3">
            <b>{{"Address"|translate}}</b>
            <span>{{ booking.userDetails?.address1 }}</span>
          </div>
        </div>
        <div class="invoice-table-border">
          <div class="row invoice-table" style="margin: 0 !important">
            <Table class="table-content">
              <thead>
                <tr>
                  <th>{{ "Sl.NO" | translate }}</th>
                  <th>{{ "Description" | translate }}</th>
                  <th>{{ "quantity" | translate }}</th>
                  <th>{{ "Unit price" | translate }}</th>
                  <th>{{ "Total amount" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>xxxxxxxxxxxxxx</td>
                  <td>1</td>
                  <td>{{ booking.paymentAmount }}</td>
                  <td>{{ booking.paymentAmount }}</td>
                </tr>
              </tbody>
            </Table>
          </div>
          <div class="table-bottom row">
            <div class="col-8">
              <!-- Left content (if any) can go here -->
            </div>

            <div class="col-md-4 col-sm-12">
              <p class="d-flex justify-content-between">
                <b>{{ "Subtotal" | translate }}</b>
                <span>{{ booking.paymentAmount }}</span>
              </p>
              <p class="d-flex justify-content-between">
                <b>VAT:</b> <span>0%</span>
              </p>
              <p class="d-flex justify-content-between">
                <b>{{ "Total amount" | translate }}</b>
                <span>{{ booking.paymentAmount }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
