<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element">
      <h2>{{ "terms.Payment" | translate }}</h2>
    </div>
    <div *ngFor="let booking of bookings">
      <div
        class="payment-status"
        *ngIf="booking && booking.remainingBalance !== 0"
      >
        <p>
          {{ "terms.BookingID" | translate }}: <span>{{ booking._id }}</span>
        </p>
        <p>
          {{ "terms.Paid" | translate }}:
          <span>{{ booking.paymentAmount }} SAR</span>
        </p>
        <p class="text-center">
          {{ "terms.Balance" | translate
          }}<span
            ><button
              type="button"
              class="btn btn-balance"
              style="margin-top: 5px; padding: 5px 50px !important"
              (click)="
                makePayment(
                  $event,
                  booking.remainingBalance || 0,
                  'Completed',
                  booking.partner,
                  booking._id
                )
              "
            >
              {{ booking.remainingBalance }} SAR
            </button></span
          >
        </p>
      </div>
    </div>
    <div
      class="table-container booking-manager-table"
      style="
        max-height: 500px !important;
        overflow-y: auto !important;
        margin-top: 30px !important;
      "
    >
      <table
        class="table"
        style="box-shadow: none !important; margin: 0px 0px !important"
      >
        <thead
          style="position: sticky; top: 0; z-index: 1; background-color: #fff"
        >
          <tr>
            <th>{{ "terms.BookingID" | translate }}</th>
            <th>{{ "terms.Date" | translate }}</th>
            <th>{{ "terms.Unit Type" | translate }}</th>
            <th>{{ "terms.Payment" | translate }}</th>
            <th>{{ "terms.Payment Status" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
            <td>{{ booking._id }}</td>
            <td>{{ booking.date }}</td>
            <td>{{ "unitTypes." + booking.name | translate }}</td>
            <td>{{ booking.paymentAmount }} SAR</td>
            <td>{{ "paymentStatus." + booking.paymentStatus | translate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
