<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element">
      <h2>{{ "terms.Payment" | translate }}</h2>
    </div>
    <div *ngFor="let booking of bookings">
      <div
        class="payment-status"
        *ngIf="booking && booking.remainingBalance !== 0"
      >
        <p>
          {{ "terms.BookingID" | translate }}: <span>{{ booking._id }}</span>
        </p>
        <p>
          {{ "paymentStatus.Paid" | translate }}:
          <span>{{ booking.paymentAmount }} SAR</span>
        </p>
        <p class="text-center">
          {{ "terms.Balance" | translate
          }}<span
            ><button
              type="button"
              class="btn btn-balance"
              style="margin-top: 5px; padding: 5px 50px !important"
              (click)="
                makePayment(
                  $event,
                  booking.remainingBalance || 0,
                  'Completed',
                  booking.partner,
                  booking._id
                )
              "
            >
              {{ booking.remainingBalance }} SAR
            </button></span
          >
        </p>
      </div>
    </div>
    <div
      class="table-container booking-manager-table"
      style="
        max-height: 500px !important;
        overflow-y: auto !important;
        margin-top: 30px !important;
      "
    >
      <table
        class="table"
        style="box-shadow: none !important; margin: 0px 0px !important"
      >
        <thead
          style="position: sticky; top: 0; z-index: 1; background-color: #fff"
        >
          <tr>
            <th>{{ "terms.BookingID" | translate }}</th>
            <th>{{ "terms.Date" | translate }}</th>
            <th>{{ "terms.Unit Type" | translate }}</th>
            <th>{{ "terms.Payment" | translate }}</th>
            <th>{{ "terms.Payment Status" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
            <td>{{ booking._id }}</td>
            <td>{{ booking.date }}</td>
            <td>{{ "unitTypes." + booking.unitType | translate }}</td>
            <td>{{ booking.paymentAmount }} SAR</td>
            <td>{{ "paymentStatus." + booking.paymentStatus | translate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Payment options for user to select a payment brand -->
<div *ngIf="showPaymentOptions" class="payment-options-container">
  <div class="payment-options">
    <!-- Close button -->
    <button
      type="button"
      class="btn-close close-button"
      (click)="closePaymentOptions()"
    >
      <i class="fas fa-times"></i>
    </button>
    <!-- Option for MADA -->
    <button
      type="button"
      class="btn btn-pay-mada"
      (click)="selectPaymentBrand('MADA')"
    >
      Pay using MADA
      <img src="assets/images/Mada_Logo.svg" alt="MADA Icon" />
    </button>

    <!-- Option for Other Cards -->
    <button
      type="button"
      class="btn btn-pay-other"
      (click)="selectPaymentBrand('OTHER')"
    >
      Pay using Other Card Types
      <img src="assets/images/visa-mastercard.svg" alt="Other Cards Icon" />
    </button>
  </div>
</div>

<div *ngIf="showPaymentForm">
  <div class="modal-overlay" (click)="closePaymentForm()"></div>
  <!-- Payment form -->
  <!-- Payment Form for MADA -->
  <div
    class="centered-payment-form"
    *ngIf="selectedBrand === 'MADA' && showPaymentForm"
    (click)="$event.stopPropagation()"
  >
    <form
      [action]="shopperResultUrl"
      (ngSubmit)="onPaymentFormSubmit()"
      class="paymentWidgets"
      data-brands="MADA"
    ></form>
  </div>

  <!-- Payment Form for Other Cards -->
  <div
    class="centered-payment-form"
    *ngIf="selectedBrand === 'OTHER' && showPaymentForm"
    (click)="$event.stopPropagation()"
  >
    <form
      [action]="shopperResultUrl"
      (ngSubmit)="onPaymentFormSubmit()"
      class="paymentWidgets"
      data-brands="VISA MASTER AMEX"
    ></form>
  </div>
</div>