<div class="contact-container">
  <div class="custom-slider"></div>
  
  <!-- Contact Information Card -->
  <div class="contact-card">

    <!-- Company Logo -->
  <div class="logo-container">
    <img
      src="assets/images/naqlee-logo.svg"
      alt="Company Logo"
      class="company-logo"
    />
  </div>

    <div class="contact-item">
      <i class="fa-solid fa-phone"></i>&nbsp;
      <strong>{{ "contact" | translate }}:</strong> +966 53 031 2948
    </div>

    <div class="contact-item">
      <i class="fas fa-clock contact-icon"></i>&nbsp;
      <strong>{{ "workingHours" | translate }}:</strong>
      <ul>
        <li>Sunday - 10:00 am - 06:00 pm</li>
        <li>Monday - 10:00 am - 06:00 pm</li>
        <li>Tuesday - 10:00 am - 06:00 pm</li>
        <li>Wednesday - 10:00 am - 06:00 pm</li>
        <li>Thursday - 10:00 am - 06:00 pm</li>
      </ul>
    </div>

    <div class="contact-item">
      <i class="fas fa-envelope contact-icon"></i>&nbsp;
      <strong>{{ "Email" | translate }}:</strong> sales&#64;naqlee.com
    </div>

    <div class="contact-item">
      <i class="fas fa-map-marker-alt contact-icon"></i>&nbsp;
      <strong>{{ "Address" | translate }}:</strong> 3455 al-dammam 34264
    </div>
  </div>
</div>
