<div class="full-height-container">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-12">
        <div class="modal-close">
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="activeModal.dismiss()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form class="col-md-6 forget-pass-form" (ngSubmit)="forgotPasswordOtpReq()">
          <h2>Reset Password</h2>
          <div class="mb-3">
            <label for="emailAddress" class="form-label"
              >Enter your email to reset Password</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="email"
              required
            />
          </div>
          <div class="d-flex justify-content-center">
            <!-- <button
              type="submit"
              class="btn"
              (click)="activeModal.dismiss()"
            > -->
            <button type="submit" class="btn send-btn">
              Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
