<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element">
      <h2>{{"Users"|translate}}</h2>
    </div>

    <div class="add-user-button" *ngIf="!showAddUserForm">
      <button color="primary" (click)="toggleFormVisibility()">
        + {{"AddUser"|translate}}
      </button>
    </div>
    <div
      class="table-container booking-manager-table"
      style="max-height: 400px !important; overflow-y: auto !important"
    >
      <div *ngIf="!showAddUserForm">
        <table
          class="table"
          *ngIf="!showAddUserForm"
          style="
            margin-top: -30px;
            width: 100%;
            box-shadow: none !important;
            margin: 0px 0px;
          "
        >
          <thead
            style="position: sticky; top: 0; z-index: 1; background-color: #fff"
          >
            <tr>
              <th>{{"UserName"|translate}}</th>
              <th>{{"UserId"|translate}}</th>
              <th>{{"EmailId"|translate}}</th>
              <th>{{"LastSignIn"|translate}}</th>
              <th>{{"ContactNo"|translate}}</th>
              <th>{{"Address"|translate}}</th>
              <th>{{"AccessTo"|translate}}</th>
              <th>{{"Action"|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of naqleeUsers">
              <td>{{ user.name }}</td>
              <td>{{ user._id }}</td>
              <td>{{ user.emailID }}</td>
              <td>{{ user.lastSignIn || "N/A" }}</td>
              <td>{{ user.mobileNo }}</td>
              <td>{{ user.address }}</td>
              <td>{{ getTranslatedAccessTo(user.accessTo) }}</td>
              <td>
                <fa-icon
                  [icon]="faEdit"
                  class="icon"
                  style="color: #727272; padding: 0px 5px"
                  (click)="editUser(user)"
                ></fa-icon>
                <fa-icon
                  [icon]="faTrashAlt"
                  class="icon"
                  style="color: #727272; padding: 0px 5px"
                  (click)="deleteUser(user._id)"
                ></fa-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="add-user-form" *ngIf="showAddUserForm">
      <div class="form-row">
        <div class="form-group label-input">
          <label for="name" class="flex-label">{{"Name"|translate}}</label>
          <input
            type="text"
            class="form-control flex-input custom-input"
            id="name"
            placeholder='{{"EnterName"|translate}}'
            [(ngModel)]="newUser.name"
            required
          />
        </div>
        <div class="form-group label-input">
          <label for="userPhoto" class="flex-label">{{"UserPhoto"|translate}}</label>
          <input
            type="file"
            class="form-control flex-input custom-input"
            id="userPhoto"
            (change)="handleFileInput($event)"
            accept="image/*"
            required
          />
        </div>
      </div>
      <div class="form-row full-width">
        <div class="form-group label-input full-width">
          <label for="email" class="flex-label" style="flex: 0 0 14.5%"
            >{{"EmailId"|translate}}</label
          >
          <input
            type="email"
            class="form-control flex-input custom-input"
            id="email"
            placeholder='{{"EnterEmail"|translate}}'
            [(ngModel)]="newUser.emailID"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group label-input">
          <label for="mobile" class="flex-label">{{"MobileNo"|translate}}</label>
          <input
            type="text"
            class="form-control flex-input custom-input"
            id="mobile"
            placeholder='{{"EnterMobileNumber" | translate}}'
            [(ngModel)]="newUser.mobileNo"
            required
          />
        </div>
        <div class="form-group label-input">
          <label for="address" class="flex-label">{{"Address"|translate}}</label>
          <input
            type="text"
            class="form-control flex-input custom-input"
            id="address"
            placeholder='{{"EnterAddress"|translate}}'
            [(ngModel)]="newUser.address"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group label-input">
          <label for="accessTo" class="flex-label">{{"AccessTo"|translate}}</label>
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ getSelectedItemsText() || 'SelectAccessOptions' | translate}}
            </button>
            <div
              class="dropdown-menu dropdown-menu-left"
              aria-labelledby="dropdownMenuButton"
            >
              <div class="dropdown-item" *ngFor="let item of dropdownList">
                <input
                  type="checkbox"
                  [value]="item.id"
                  (change)="toggleSelection(item.id)"
                  [checked]="isSelected(item.id)"
                />
                {{ item.itemName | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <button
          type="button"
          class="btn btn-primary add-user-btn"
          (click)="onSubmit()"
        >
          {{"Submit"|translate}}
        </button>
      </div>
    </div>
  </div>
</div>
