<div class="home-container">
  <div class="custom-slider">
    <h2 class="booking-container-head">{{ "availableSpecialUnits" | translate }}</h2>
  </div>
  <div
    class="container booking-container"
    style="margin-top: -325px !important"
  >
    <div class="row">
      <div class="col-md-6">
        <div class="vehicle-cols">
          <div class="row">
            <h2 class="text-center">{{ "specialOthers" | translate }}</h2>
            <div
              class="bus-container special"
              *ngFor="let bus of buses"
              (click)="selectBus(bus)"
              [class.selected]="selectedBus === bus"
            >
              <img
                *ngIf="bus.image"
                [src]="bus.image"
                alt="{{ bus.name }}"
                class="bus-image"
              />
              <p class="bus-name">{{ "specialUnits." + bus.name | translate }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="fromTime"><b>{{ "fromTime" | translate }}</b></label>
              <ngb-timepicker
                class="custom-timepicker"
                [(ngModel)]="bookingData.fromTime"
                [spinners]="true"
                [meridian]="true"
                required
              ></ngb-timepicker>
            </div>
            <div class="col-md-6">
              <label for="toTime"><b>{{ "toTime" | translate }}</b></label>
              <ngb-timepicker
                class="custom-timepicker"
                [(ngModel)]="bookingData.toTime"
                [spinners]="true"
                [meridian]="true"
                required
              ></ngb-timepicker>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="startingDate" style="margin-bottom: 8px"
                ><b>{{ "startingDate" | translate }}</b></label
              >
              <input
                type="date"
                class="form-control"
                [(ngModel)]="bookingData.date"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 bottom-checkbox">
              <div class="checkbox-container">
                <input
                  type="checkbox"
                  id="additionalLabourCheckbox"
                  (change)="toggleAdditionalLabour($event)"
                  [(ngModel)]="bookingData.additionalLabour"
                />
                <label for="additionalLabourCheckbox"
                  >{{
                    "needAdditionalLabour" | translate
                  }}</label
                >
              </div>

              <div class="radio-container" *ngIf="additionalLabourEnabled">
                <input
                  type="radio"
                  id="radio1"
                  name="radios"
                  value="1"
                  (change)="logRadioValue($event)"
                  [checked]="bookingData.additionalLabour === 1"
                />
                <label for="radio1">1</label>

                <input
                  type="radio"
                  id="radio2"
                  name="radios"
                  value="2"
                  (change)="logRadioValue($event)"
                  [checked]="bookingData.additionalLabour === 2"
                />
                <label for="radio2">2</label>

                <input
                  type="radio"
                  id="radio3"
                  name="radios"
                  value="3"
                  (change)="logRadioValue($event)"
                  [checked]="bookingData.additionalLabour === 3"
                />
                <label for="radio3">3</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="row-container">
          <div class="input-field design" style="position: relative">
            <i class="fas fa-search"></i>
            <input
              type="text"
              [placeholder]="'enterCityName' | translate"
              [(ngModel)]="bookingData.cityName"
              (input)="onCityInputChange()"
              (focus)="setActiveInputField('cityName')"
              style="margin-bottom: 8px"
              required
            />
            <div
              *ngIf="citySuggestions.length > 0"
              class="suggestions-dropdown city"
            >
              <div
                class="suggestion-item"
                *ngFor="let suggestion of citySuggestions"
                (click)="selectCitySuggestion(suggestion)"
                [ngClass]="{
                  'your-location': suggestion.description === 'Your location'
                }"
                style="display: flex; align-items: center"
              >
                <span *ngIf="suggestion.description === 'Your location'">
                  <i
                    class="fas fa-crosshairs"
                    style="margin-right: 8px; color: #0d6efd"
                  ></i>
                </span>
                <span
                  [style.color]="
                    suggestion.description === 'Your location'
                      ? '#0d6efd'
                      : 'inherit'
                  "
                >
                  {{ suggestion.description }}
                </span>
              </div>
            </div>
          </div>
          <div class="input-field design" style="position: relative">
            <i class="fas fa-map-marker-alt"></i>
            <input
              type="text"
              [placeholder]="'enterYourAddress' | translate"
              [(ngModel)]="bookingData.address"
              (input)="onAddressInputChange()"
              (focus)="setActiveInputField('address')"
              required
              style="margin-bottom: 8px"
            />
            <div
              *ngIf="addressSuggestions.length > 0"
              class="suggestions-dropdown address"
            >
              <div
                class="suggestion-item"
                *ngFor="let suggestion of addressSuggestions"
                (click)="selectAddressSuggestion(suggestion)"
                [ngClass]="{
                  'your-location': suggestion.description === 'Your location'
                }"
                style="display: flex; align-items: center"
              >
                <span *ngIf="suggestion.description === 'Your location'">
                  <i
                    class="fas fa-crosshairs"
                    style="margin-right: 8px; color: #0d6efd"
                  ></i>
                </span>
                <span
                  [style.color]="
                    suggestion.description === 'Your location'
                      ? '#0d6efd'
                      : 'inherit'
                  "
                >
                  {{ suggestion.description }}
                </span>
              </div>
            </div>
          </div>
          <!-- <div class="input-field design" style="position: relative;">
            <i class="fas fa-mail-bulk"></i>
            <input
              type="text"
              placeholder="Zip code for construction site"
              [(ngModel)]="bookingData.zipCode"
              style="margin-bottom: 8px"
            />
          </div> -->
        </div>
        <div class="buttons">
          <button
            type="submit"
            class="btn create-booking"
            (click)="getLocation()"
          >
          {{ "getLocation" | translate }}
          </button>
        </div>
        <div id="mapContainer" class="google-map-style"></div>
        <div class="buttons">
          <button
            type="submit"
            class="btn create-booking"
            (click)="submitBooking()"
          >
          {{ "createBooking" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
