<div class="container-fluid home-container" style="overflow-y: auto;">
  <div class="custom-slider partner-slider">
    <!-- <img src="assets/images/naqli-partner.png" alt="Naqli Partner Image" /> -->
  </div>
  
  <div class="container">
    <div class="row links-row">
      <div class="col-md-6 partner-login-options" routerLink="register">
        <a class="btn">Sign up now</a>
        <i class="fas fa-arrow-right"></i>
      </div>
      <div class="col-md-6 partner-login-options" routerLink="login">
        <a class="btn">Login</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
</div>
<router-outlet></router-outlet>
    
    <div class="partner-page-footer">
      <h2>Naqli Advantage</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-4 advantage-item">
            <img src="assets/images/regular-trips.svg" alt="regular-trips" />
            <h2>Regular Trips</h2>
            <p>
              With our growing presence across multiple cities, we always have
              our hands full! This means you will never run out of trips.
            </p>
          </div>
          <div class="col-md-4 advantage-item">
            <img src="assets/images/better-earning.svg" alt="better-earning" />
            <h2>Better Earning</h2>
            <p>
              Each more by partnering with the best! Regular trips and efficient
              service can grow your earnings!
            </p>
          </div>
          <div class="col-md-4 advantage-item">
            <img src="assets/images/onTime-payment.svg" alt="onTime-payment" />
            <h2>On Time Payment</h2>
            <p>
              Be assured to receive all payments on time & get the best in class
              support.
            </p>
          </div>
        </div>
      </div>

  </div>
</div>
