<div class="dashboard-booking-container">
  <div class="row">
    <div class="col-md-7 left-div">
      <div class="left-div-title">
        <img src="assets/images/delivery-truck.svg" />
        <p>Booking Id ##########</p>
      </div>
    </div>
    <div class="col-md-5 right-div">
      <div class="input-container">
        <div class="partner-field">
          <label>User name</label>
          <p>Muzan</p>
        </div>
        <div class="partner-field">
          <label>User id</label>
          <p>#456789142</p>
        </div>
        <div class="partner-field">
          <label>Mode</label>
          <p>Box truck</p>
        </div>
        <div class="partner-field">
          <label>No.of units</label>
          <p>2</p>
        </div>
        <div class="partner-field">
          <label>Booking status</label>
          <p>Running</p>
        </div>
        <div class="partner-field" style="border-bottom: none !important">
          <label>Additional Charges</label>
          <p style="border-bottom: 1px solid #ddd">xxx</p>
        </div>
        <input
          type="text"
          placeholder="Reason"
          style="border: 1px solid #ddd; margin: 5px 20px; padding: 5px 10px"
        />
        <div class="partner-field-last">
          <p>Pending Amount</p>
          <p style="color: #914f9d">XXXXX SAR</p>
        </div>
        <div class="modal-footer cancel-booking-btns">
          <button type="button" class="btn btn-pay-advance">
            Request Payment
          </button>
          <button
            type="button"
            class="btn btn-pay"
            style="background-color: #6f181c !important"
          >
            Terminate
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
