<div class="row">
  <div class="col-md-12">
    <div class="booking-modal">
      <h2 style="text-align: left">Booking Id: {{ bookingId }}</h2>
      <div class="modal-close">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeModalAndNavigate()"
          style="margin-right: 10px; color: white"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div
      class="booking-modal-body show-booking-details"
      style="
        color: #000;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
      "
    >
      <p>
        <b>{{ "terms.Unit Type" | translate }}:</b>
        <span>{{ "unitTypes." + booking.unitType | translate }}</span>
      </p>
      <p>
        <b>{{ "Unit Classification" | translate }}:</b>
        <span>{{ getTranslatedName(booking.name) }}</span>
        <span *ngIf="booking?.type && booking.type[0]?.typeName">
          -
          {{
            ("typeNames." + booking.type[0]?.typeName | translate) !==
            "typeNames." + booking.type[0]?.typeName
              ? ("typeNames." + booking.type[0]?.typeName | translate)
              : ("equipmentTypeName." + booking.type[0]?.typeName
                  | translate) !==
                "equipmentTypeName." + booking.type[0]?.typeName
              ? ("equipmentTypeName." + booking.type[0]?.typeName | translate)
              : ("" | translate)
          }}
        </span>
      </p>
      <p>
        <b>{{ "pickupLocation" | translate }}:</b>
        <span>{{ booking.pickup }}</span>
      </p>
      <p>
        <b>{{ "dropPointLocation" | translate }}:</b>
        <span>{{ booking.dropPoints.join(", ") }}</span>
      </p>
      <p>
        <b>{{ "valueOfProduct" | translate }}:</b>
        <span>{{ booking.productValue }}</span>
      </p>
      <p>
        <b>{{ "terms.Date" | translate }}:</b> <span>{{ booking.date }}</span>
      </p>
      <p>
        <b>{{ "Time" | translate }}:</b>
        <span *ngIf="booking.time; else timeRange">
          {{ booking.time }}
        </span>
        <ng-template #timeRange>
          <span *ngIf="booking.fromTime && booking.toTime">
            {{ booking.fromTime }} - {{ booking.toTime }}
          </span>
        </ng-template>
      </p>
      <p>
        <b>{{ "Additional Labour" | translate }}:</b>
        <span>{{ booking.additionalLabour }}</span>
      </p>
      <p>
        <b>{{ "Booking Status" | translate }}:</b>
        <span>{{ "status of booking." + booking.bookingStatus | translate }}</span>
      </p>
      <p>
        <b>{{ "terms.Payment Status" | translate }}:</b>
        <span>{{ "paymentStatus." + booking.paymentStatus | translate }}</span>
      </p>
    </div>
  </div>
</div>
