<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element" style="position: relative">
      <h2>{{ "Users" | translate }}</h2>
    </div>
    <div
      class="dropdown-container"
      style="width: 100%; margin: 15px 0px !important"
    >
      <select
        class="form-select"
        (change)="onActionSelected($event)"
        style="width: 150px !important"
      >
        <option *ngFor="let option of options" [value]="option">
          {{ "adminAction." + option | translate }}
        </option>
      </select>
    </div>
    <div
      class="table-container booking-manager-table"
      style="max-height: 500px !important; overflow-y: auto !important"
    >
      <table
        class="table table-responsive"
        style="width: 100%; box-shadow: none !important; margin: 0px 0px"
      >
        <thead
          style="position: sticky; top: 0; z-index: 1; background-color: #fff"
        >
          <tr>
            <th>
              <input
                type="checkbox"
                [checked]="isAllSelected"
                (change)="toggleSelectAll($event)"
              />
            </th>
            <th>{{ "UserName" | translate }}</th>
            <th>{{ "UserId" | translate }}</th>
            <th>{{ "EmailId" | translate }}</th>
            <th>{{ "LastSignIn" | translate }}</th>
            <th>{{ "ContactNo" | translate }}</th>
            <th>{{ "Address" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of users"
            [class.disabled]="user.isBlocked || user.isSuspended"
            class="make-disable"
          >
            <td>
              <input
                type="checkbox"
                [(ngModel)]="user.selected"
                (change)="updateSelectAllState()"
              />
            </td>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user._id }}</td>
            <td>{{ user.emailAddress }}</td>
            <td>{{ user.updatedAt | date : "short" }}</td>
            <td>{{ user.contactNumber }}</td>
            <td>{{ user.address1 }}, {{ user.city }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
