<div class="full-height-container">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-12">
        <div class="modal-close">
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closeModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="mb-3 text-center verified-user-container">
          <div class="verified-user">
            <img src="assets/images/verified-user.png" alt="verified-user"/>
            <h2>{{ "ACCOUNT_VERIFIED" | translate }}</h2>
          </div>
          <div class="otp-verify-inputs" style="color: #262626">
            <label class="form-label" style="color: #6a66d1">{{
              partnerDetails.partnerName
            }}</label>
            <label class="form-label">{{ partnerDetails.mobileNo }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
