<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element">
      <h2>{{ "Payout" | translate }}</h2>
    </div>
    <div style="margin-top: 20px">
      <div class="tab-buttons payout-tab">
        <div>
          <button
            class="tab-button"
            [class.active]="isAllTab"
            (click)="selectTimeRange('all')"
          >
            All
          </button>
          <button
            class="tab-button"
            [class.active]="isHourlyTab"
            (click)="selectTimeRange('hourly')"
          >
            Hourly
          </button>
          <button
            class="tab-button"
            [class.active]="isWeeklyTab"
            (click)="selectTimeRange('weekly')"
          >
            Weekly
          </button>
          <button
            class="tab-button"
            [class.active]="isDailyTab"
            (click)="selectTimeRange('daily')"
          >
            Daily
          </button>
        </div>
        <div>
          <button
            class="tab-button"
            [class.active]="isInitialPayoutTab"
            (click)="selectTab('initialPayout')"
          >
            {{ "InitialPayout" | translate }}
          </button>
          <button
            class="tab-button"
            [class.active]="!isInitialPayoutTab"
            (click)="selectTab('finalPayout')"
          >
            {{ "FinalPayout" | translate }}
          </button>
        </div>
      </div>
      <div
        class="table-container booking-manager-table"
        style="max-height: 450px !important; overflow-y: auto !important"
      >
        <table
          class="table table-responsive"
          style="width: 100%; box-shadow: none !important; margin: 0px 0px"
        >
          <thead
            style="position: sticky; top: 0; z-index: 1; background-color: #fff"
          >
            <tr>
              <ng-container *ngIf="isInitialPayoutTab">
                <th>
                  <input
                    type="checkbox"
                    [(ngModel)]="selectAll"
                    (change)="toggleSelectAll()"
                  />
                </th>
                <th>{{ "Bank name" | translate }}</th>
                <th>{{ "accountNumber" | translate }}</th>
                <th>{{ "totalAmount" | translate }}</th>
                <th>{{ "notes" | translate }}</th>
                <th>{{ "beneficiaryName" | translate }}</th>
                <th>{{ "IDCRNumber" | translate }}</th>
                <th>{{ "beneficiaryAddress" | translate }}</th>
              </ng-container>

              <ng-container *ngIf="!isInitialPayoutTab">
                <th>
                  <input
                    type="checkbox"
                    [(ngModel)]="selectAll"
                    (change)="toggleSelectAll()"
                  />
                </th>
                <th>{{ "Bank name" | translate }}</th>
                <th>{{ "accountNumber" | translate }}</th>
                <th>{{ "totalAmount" | translate }}</th>
                <th>{{ "notes" | translate }}</th>
                <th>{{ "beneficiaryName" | translate }}</th>
                <th>{{ "IDCRNumber" | translate }}</th>
                <th>{{ "beneficiaryAddress" | translate }}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of filteredBookings">
              <ng-container *ngIf="isInitialPayoutTab">
                <td>
                  <input
                    type="checkbox"
                    [(ngModel)]="booking.selectedInitial"
                  />
                </td>
                <td>{{ partners[booking.partner]?.bank }}</td>
                <td>{{ partners[booking.partner]?.ibanNumber }}</td>
                <td>{{ booking.initialPayout }} SAR</td>
                <td>{{ "Initial payment" | translate }}</td>
                <td>{{ partners[booking.partner]?.partnerName }}</td>
                <td>{{ partners[booking.partner]?.CRNumber }}</td>
                <td>
                  {{ partners[booking.partner]?.region }},
                  {{ partners[booking.partner]?.city }}
                </td>
              </ng-container>
              <ng-container *ngIf="!isInitialPayoutTab">
                <td>
                  <input type="checkbox" [(ngModel)]="booking.selectedFinal" />
                </td>
                <td>{{ partners[booking.partner]?.bank }}</td>
                <td>{{ partners[booking.partner]?.ibanNumber }}</td>
                <td>{{ booking.finalPayout }} SAR</td>
                <td>{{ "Final payment" | translate }}</td>
                <td>{{ partners[booking.partner]?.partnerName }}</td>
                <td>{{ partners[booking.partner]?.CRNumber }}</td>
                <td>
                  {{ partners[booking.partner]?.region }},
                  {{ partners[booking.partner]?.city }}
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end">
        <button
          class="btn btn-payNow btn-payout"
          (click)="generatePDFOrExcel()"
        >
          <i class="fas fa-download"></i>
          {{
            isInitialPayoutTab
              ? "Processing initial amount"
              : "Processing Completed amount"
          }}
        </button>
      </div>
    </div>
  </div>
</div>
