<div class="delete-account-container container">
    <h1>How to Delete Your Naqlee Account</h1>
    <p>If you wish to delete your account and associated data, follow these steps:</p>
  
    <h4>Steps to Account Deletion</h4>
    <ol>
      <li>Log in to your <a href="https://naqlee.com/home/user">Naqlee Account</a>.</li>
      <li>Go to <strong>Dashboard Page</strong>.</li>
      <li>Click on <strong>Delete Account</strong> and confirm your request.</li>
    </ol>
  
    <h4>What Data is Deleted?</h4>
    <p>Once your account is deleted, the following information will be permanently removed:</p>
    <ul>
      <li>Personal details (name, email, phone number, profile).</li>
      <li>Booking history.</li>
      <li>Payment details.</li>
    </ul>
  
    <h4>Need Assistance?</h4>
    <p>If you encounter any issues, please contact our support team at 
      <a href="mailto:sales@naqlee.com">sales&#64;naqlee.com</a>.
    </p>
  </div>
