<div class="row booking-manager-container">
  <div class="col-md-12 booking-history">
    <div
      class="table-container booking-manager-table"
      style="max-height: 460px; overflow-y: auto"
    >
      <table
        class="table"
        style="margin: 10px 0px !important; box-shadow: none !important"
      >
        <thead
          style="position: sticky; top: 0; z-index: 1; background-color: #fff"
        >
          <tr class="trigger-booking-table">
            <th>{{ "dashboardItems.Trigger Booking" | translate }}</th>
            <th style="text-align: center !important">
              {{ "Action" | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let booking of bookings">
            <tr
              class="trigger-booking-table"
              *ngIf="booking.paymentStatus === 'NotPaid'"
            >
              <td class="trigger-booking-td">
                <!-- Vehicle and Booking ID Information -->
                <div class="trigger-booking-td-1">
                  <p class="p1">
                    {{ "unitTypes." + booking.unitType | translate }}
                  </p>
                  <p class="p2">Booking ID: {{ booking._id }}</p>
                </div>

                <!-- Vendor List with Radio Buttons -->
                <div
                  class="trigger-booking-td-2"
                  *ngIf="vendorsByBooking[booking._id]"
                >
                  <div
                    class="input-field"
                    *ngFor="let vendor of vendorsByBooking[booking._id]"
                  >
                    <input
                      type="radio"
                      [value]="vendor"
                      name="vendor_{{ booking._id }}"
                      [(ngModel)]="selectedVendor[booking._id]"
                    />
                    <div class="vendor-details">
                      <span>{{ vendor.name }}</span>
                      <span class="vendor-price">{{ vendor.price }} SAR</span>
                    </div>
                  </div>
                </div>
              </td>

              <!-- Actions Column -->
              <td style="text-align: center !important">
                <button
                  type="button"
                  class="btn btn-payNow"
                  (click)="openPaymentModal(booking)"
                >
                  {{ "PayNow" | translate }}
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="cancelBooking(booking._id)"
                  style="
                    border-radius: 20px;
                    font-size: 14px;
                    margin: 0px 10px;
                    padding: 5px 25px !important;
                  "
                >
                  {{ "Delete" | translate }}
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
