<div class="row booking-manager-container">
  <div class="col-md-12 booking-history">
    <div
      class="table-container booking-manager-table"
      style="max-height: 460px; overflow-y: auto"
    >
      <table
        class="table"
        style="margin: 10px 0px !important; box-shadow: none !important"
      >
        <thead
          style="position: sticky; top: 0; z-index: 1; background-color: #fff"
        >
          <tr class="trigger-booking-table">
            <th>{{ "dashboardItems.Trigger Booking" | translate }}</th>
            <th style="text-align: left !important">
              {{ "Action" | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let booking of bookings">
            <tr
              class="trigger-booking-table"
              *ngIf="booking.paymentStatus === 'NotPaid'"
            >
              <td class="trigger-booking-td">
                <!-- Vehicle and Booking ID Information -->
                <div class="trigger-booking-td-1">
                  <p class="p1">
                    {{ "unitTypes." + booking.unitType | translate }}
                  </p>
                  <p>
                    Booking ID:
                    <span
                      class="p2 trigger"
                      (click)="openBookingDetailsModal(booking)"
                      >{{ booking._id }}</span
                    >
                  </p>
                </div>

                <!-- Vendor List with Radio Buttons -->
                <div
                  class="trigger-booking-td-2"
                  *ngIf="vendorsByBooking[booking._id]"
                >
                  <div
                    class="input-field"
                    *ngFor="let vendor of vendorsByBooking[booking._id]"
                  >
                    <input
                      type="radio"
                      [value]="vendor"
                      name="vendor_{{ booking._id }}"
                      [(ngModel)]="selectedVendor[booking._id]"
                    />
                    <div class="vendor-details">
                      <span>{{ vendor.name }}</span>
                      <span class="vendor-price">{{ vendor.price }} SAR</span>
                    </div>
                  </div>
                </div>
              </td>

              <!-- Actions Column -->
              <td style="text-align: left !important">
                <button
                  type="button"
                  class="btn btn-payNow"
                  (click)="
                    makePayment(
                      $event,
                      (selectedVendor[booking._id]?.price || 0) / 2,
                      'HalfPaid',
                      selectedVendor[booking._id]?.partnerId,
                      selectedVendor[booking._id]?.oldQuotePrice,
                      booking._id
                    )
                  "
                >
                  Pay Advance:
                  {{ (selectedVendor[booking._id]?.price || 0) / 2 }} SAR
                </button>
                <button
                  type="button"
                  class="btn btn-payNow"
                  (click)="
                    makePayment(
                      $event,
                      selectedVendor[booking._id]?.price || 0,
                      'Paid',
                      selectedVendor[booking._id]?.partnerId,
                      selectedVendor[booking._id]?.oldQuotePrice,
                      booking._id
                    )
                  "
                >
                  Pay: {{ selectedVendor[booking._id]?.price || 0 }} SAR
                </button>
                <fa-icon
                  [icon]="faTrashAlt"
                  class="icon btn"
                  style="color: #727272; padding: 0px 5px !important"
                  (click)="cancelBooking(booking._id)"
                ></fa-icon>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Payment options for user to select a payment brand -->
<div *ngIf="showPaymentOptions" class="payment-options-container">
  <div class="payment-options">
    <!-- Close button -->
    <button
      type="button"
      class="btn-close close-button"
      (click)="closePaymentOptions()"
    >
      <i class="fas fa-times"></i>
    </button>
    <!-- Option for MADA -->
    <button
      type="button"
      class="btn btn-pay-mada"
      (click)="selectPaymentBrand('MADA')"
    >
      Pay using MADA
      <img src="assets/images/Mada_Logo.svg" alt="MADA Icon" />
    </button>

    <!-- Option for Other Cards -->
    <button
      type="button"
      class="btn btn-pay-other"
      (click)="selectPaymentBrand('OTHER')"
    >
      Pay using Other Card Types
      <img src="assets/images/visa-mastercard.svg" alt="Other Cards Icon" />
    </button>
  </div>
</div>

<div *ngIf="showPaymentForm">
  <div class="modal-overlay" (click)="closePaymentForm()"></div>
  <!-- Payment form -->
  <!-- Payment Form for MADA -->
  <div
    class="centered-payment-form"
    *ngIf="selectedBrand === 'MADA' && showPaymentForm"
    (click)="$event.stopPropagation()"
  >
    <form
      [action]="shopperResultUrl"
      (ngSubmit)="onPaymentFormSubmit()"
      class="paymentWidgets"
      data-brands="MADA"
    ></form>
  </div>

  <!-- Payment Form for Other Cards -->
  <div
    class="centered-payment-form"
    *ngIf="selectedBrand === 'OTHER' && showPaymentForm"
    (click)="$event.stopPropagation()"
  >
    <form
      [action]="shopperResultUrl"
      (ngSubmit)="onPaymentFormSubmit()"
      class="paymentWidgets"
      data-brands="VISA MASTER AMEX"
    ></form>
  </div>
</div>
