<div class="input-container">
  <div class="vendor-info">
    <p>Vendor Name <span>Kamado</span></p>
    <p>Operator ID <span>12345</span></p>
    <p>Operator Name <span>John Doe</span></p>
    <p>Mode <span>Online</span></p>
    <p>No. of Units <span>10</span></p>
    <p>Booking Status <span>Confirmed</span></p>
  </div>
  <div class="vendor-info-last">
    <h2>Pending Amount</h2>
    <p>XXXX SAR</p>
  </div>
  <div class="modal-footer cancel-booking-btns">
    <p style="color: forestgreen">Booking Successful!</p>
  </div>
</div>
