<div class="row booking-manager-container">
  <div class="col-md-12 booking-history">
    <div class="dropdown-container" style="width: 100%; margin: 15px 0px">
      <select
        class="form-select"
        style="width: 150px !important"
        [(ngModel)]="selectedFilter"
        (change)="onFilterChange($event)"
      >
        <option>All</option>
        <option>Pending</option>
        <option>Running</option>
        <option>Completed</option>
      </select>
    </div>
    <div class="table-container booking-manager-table">
      <table class="table" style="margin: 0px 0px !important">
        <thead>
          <tr class="trigger-booking-table">
            <th>Booking ID</th>
            <th>Mode</th>
            <th>Vendor</th>
            <th>Status</th>
            <th>Payment Made</th>
            <th>Pending Payment</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr
              class="trigger-booking-table"
              *ngFor="let booking of filteredBookings"
            >
              <td>{{ booking._id }}</td>
              <td>{{ booking.unitType }}</td>
              <td>
                {{
                  booking.partner
                    ? partnerDetails[booking.partner]?.partnerName ||
                      "Loading..."
                    : "N/A"
                }}
              </td>
              <td>
                <ng-container>
                  <img
                    *ngIf="booking.paymentStatus === 'HalfPaid' && booking.bookingStatus !== 'Completed'"
                    src="assets/images/halfpaid.svg"
                    alt="Half Paid"
                  />
                  <img
                    *ngIf="booking.paymentStatus === 'HalfPaid' && booking.bookingStatus === 'Completed'"
                    src="assets/images/pending payment.svg"
                    alt="Pending Payment"
                  />
                  <img
                    *ngIf="booking.paymentStatus === 'Completed'"
                    src="assets/images/payment-completed.svg"
                    alt="Payment Completed"
                  />
                </ng-container>
              </td>
              <td>{{ booking.paymentAmount }} SAR</td>
              <td>
                <ng-container
                  *ngIf="booking.remainingBalance > 0; else noPaymentNeeded"
                >
                  <button
                    type="button"
                    class="btn btn-payNow"
                    (click)="
                      makePayment(
                        $event,
                        booking.remainingBalance || 0,
                        'Completed',
                        booking.partner,
                        booking._id
                      )
                    "
                  >
                    Pay {{ booking.remainingBalance }} SAR
                  </button>
                </ng-container>
                <ng-template #noPaymentNeeded>
                  <p>---</p>
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
