<div class="row booking-manager-container">
  <div class="col-md-12 booking-history">
    <div class="dropdown-container" style="width: 100%; margin: 15px 0px;">
      <select class="form-select" style="width: 150px !important;">
        <option>Pending</option>
        <option>Completed</option>
        <option>Paid</option>
      </select>
    </div>
    <div class="table-container booking-manager-table">
      <table class="table" style="margin: 0px 0px !important">
        <thead>
          <tr class="trigger-booking-table">
            <th>Booking ID</th>
            <th>Mode</th>
            <th>Vendor</th>
            <th>Payment Made</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr class="trigger-booking-table">
              <td>XXXXXXXXXXXXX</td>
              <td>Vehicle</td>
              <td>Arumugam</td>
              <td>Completed</td>
              <td>OK</td>
            </tr>
            <tr class="trigger-booking-table">
              <td>XXXXXXXXXXXXX</td>
              <td>Vehicle</td>
              <td>Arumugam</td>
              <td>Completed</td>
              <td>OK</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
