<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element" style="position: relative">
      <h2>Booking Management</h2>
    </div>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>User Booked</th>
            <th>Booking Id</th>
            <th>Unit</th>
            <th>Operator</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
            <td *ngIf="users[booking.user]">
              {{ users[booking.user]?.firstName }} {{ users[booking.user]?.lastName }}
            </td>
            <td>{{ booking._id }}</td>
            <td>
              <select
                class="form-select"
                [(ngModel)]="selectedPlateInformation[booking._id]"
                (change)="onPlateInfoChange(booking._id, $event)"
                [disabled]="!editingBooking || editingBooking !== booking._id"
              >
                <option value="" disabled>Select Plate Information</option>
                <ng-container *ngFor="let operator of filteredOperators">
                  <option *ngIf="matchesCriteria(booking, operator)" [value]="operator.plateInformation">
                    {{ operator.plateInformation }}
                  </option>
                </ng-container>
              </select>
            </td>
            <td>
              <select
                class="form-select"
                [(ngModel)]="selectedOperatorEmail[booking._id]"
                [disabled]="!editingBooking || editingBooking !== booking._id"
              >
                <option value="" disabled>Select</option>
                <ng-container *ngFor="let operator of getFilteredOperators(booking._id); trackBy: trackByOperatorEmail">
                  <option *ngIf="!operator.operatorsDetail" [value]="operator.email">
                    {{ operator.firstName }} {{ operator.lastName }}{{ operator.label || "" }}
                  </option>
                  <ng-container *ngIf="operator.operatorsDetail">
                    <ng-container *ngFor="let detail of operator.operatorsDetail">
                      <option [value]="detail.email">
                        {{ detail.firstName }} {{ detail.lastName }}
                      </option>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </select>
            </td>
            <td>
              <fa-icon
                [icon]="faEdit"
                class="icon"
                style="color: #727272; padding: 0px 5px"
                (click)="toggleEdit(booking._id)"
              ></fa-icon>
              <!-- <fa-icon [icon]="faTrashAlt" class="icon" style="color: #727272; padding: 0px 5px"></fa-icon> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn notification-modal-btn add-operator-btn1" (click)="assignOperators()">
      Assign
    </button>
  </div>
</div>