<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element" style="position: relative">
      <h2>Booking Management</h2>
    </div>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>User Booked</th>
            <th>Booking Id</th>
            <th>Unit</th>
            <th>Operator</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
            <td *ngIf="users[booking.user]">
              {{ users[booking.user]?.firstName }}
              {{ users[booking.user]?.lastName }}
            </td>
            <td>{{ booking._id }}</td>
            <td>
              {{ booking.unitType }} - {{ booking.name }}
              <span *ngIf="booking.type[0]?.typeName"
                >- {{ booking.type[0]?.typeName }}</span
              >
            </td>
            <td>
              <select class="form-select">
                <option>
                  select
                </option>
              </select>
            </td>
            <td>
              <fa-icon
                [icon]="faEdit"
                class="icon"
                style="color: #727272; padding: 0px 5px"
              ></fa-icon>
              <fa-icon
                [icon]="faTrashAlt"
                class="icon"
                style="color: #727272; padding: 0px 5px"
              ></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn notification-modal-btn add-operator-btn1">Assign</button>
  </div>
</div>
