<div class="row">
  <div class="col-md-12">
    <div
      class="head-element"
      style="position: relative; margin-bottom: 25px !important"
    >
      <h2>{{ "bookingManagement" | translate }}</h2>
    </div>
    <div
      class="table-container booking-manager-table"
      style="max-height: 500px; overflow-y: auto"
    >
      <table class="table" style="margin: 0px 0px !important">
        <thead style="position: sticky; top: 0; z-index: 1; background-color: #fff">
          <tr>
            <th>{{ "userBooked" | translate }}</th>
            <th>{{ "bookingId" | translate }}</th>
            <th>{{ "unit" | translate }}</th>
            <th>{{ "operator" | translate }}</th>
            <th>{{ "Action" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
            <td *ngIf="users[booking.user]">
              {{ users[booking.user]?.firstName }}
              {{ users[booking.user]?.lastName }}
            </td>
            <td>{{ booking._id }}</td>
            <td>
              <select
                class="form-select"
                [(ngModel)]="selectedPlateInformation[booking._id]"
                (change)="onPlateInfoChange(booking._id, $event)"
                [disabled]="
                  !editMode[booking._id] &&
                  selectedPlateInformation[booking._id]
                    ? true
                    : false
                "
              >
                <option value="" disabled>{{"selectPlateInformation"|translate}}</option>
                <ng-container *ngFor="let operator of filteredOperators">
                  <option
                    *ngIf="operator && matchesCriteria(booking, operator)"
                    [value]="operator.plateInformation"
                  >
                    {{ operator.plateInformation }}
                  </option>
                </ng-container>
              </select>
            </td>
            <td>
              <select
                class="form-select"
                [(ngModel)]="selectedOperatorName[booking._id]"
                (change)="onOperatorChange(booking._id, $event)"
                [disabled]="
                  !editMode[booking._id] && selectedOperatorName[booking._id]
                    ? true
                    : false
                "
              >
                <option value="" disabled>{{"select"|translate}}</option>
                <ng-container
                  *ngFor="
                    let operator of getFilteredOperators(booking._id);
                    trackBy: trackByOperatorEmail
                  "
                >
                  <option
                    *ngIf="!operator.operatorsDetail"
                    [value]="operator.firstName + ' ' + operator.lastName"
                  >
                    {{ operator.firstName }} {{ operator.lastName
                    }}{{ operator.label || "" }}
                  </option>
                  <ng-container *ngIf="operator.operatorsDetail">
                    <ng-container
                      *ngFor="let detail of operator.operatorsDetail"
                    >
                      <option
                        [value]="detail.firstName + ' ' + detail.lastName"
                      >
                        {{ detail.firstName }} {{ detail.lastName }}
                      </option>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </select>
            </td>
            <td>
              <div (click)="editBooking(booking._id)">
                <fa-icon
                  [icon]="faEdit"
                  class="icon"
                  style="color: #727272; padding: 0px 5px"
                ></fa-icon>
              </div>
              <!-- <fa-icon [icon]="faTrashAlt" class="icon" style="color: #727272; padding: 0px 5px"></fa-icon> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button
      class="btn notification-modal-btn add-operator-btn1"
      (click)="assignOperators()"
    >
      {{"assign"|translate}}
    </button>
  </div>
</div>
