<div class="row">
  <div class="col-md-12 booking-history">
    <div class="head-element">
      <h2>Payment</h2>
    </div>
    <div>
      <div class="payment-status">
        <p>Booking ID: <span>xxxxx</span></p>
        <p>Booking value: <span>SAR xxxxx</span></p>
        <p>Paid: <span>SAR xxxxxx</span></p>
        <p class="text-center">
          Balance<span
            ><button
              type="button"
              class="btn btn-balance"
              style="margin-top: 5px; padding: 5px 50px !important"
            >
              XXXXX
            </button></span
          >
        </p>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Booked by</th>
            <th>Booking Id</th>
            <th>Mode</th>
            <th>Date</th>
            <th>Payment made</th>
            <th>Payment Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>User</td>
            <td>3456778900</td>
            <td>Tow truck</td>
            <td>14/03/2024</td>
            <td>XXXXX SAR</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>User</td>
            <td>3456777900</td>
            <td>Bus</td>
            <td>18/05/2024</td>
            <td>XXXXX SAR</td>
            <td>Completed</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
