<div class="container-md">
  <div class="create-invoice-outer-card" id="invoice-container">
    <div class="create-invoice-content">
      <div class="bill-row">
        <div class="qr-code-section mt-4 col-md-3">
          <div class="qr-code-container">
            <div class="qr-code-blur">
              <qrcode
                [qrdata]="'https://www.example.com'"
                [width]="200"
                [errorCorrectionLevel]="'M'"
                [elementType]="'img'"
              ></qrcode>
            </div>
            <div class="qr-code-overlay">
              <i class="fa fa-check-circle tick-icon"></i>
              <p class="verified-text">Invoice Verified</p>
            </div>
          </div>
        </div>
        <div class="mt-4 billto-left col-md-3">
          <img src="assets/images/naqlee-logo.svg" alt="naqlee-logo" />
          <div class="invoice-from">
            <p>PIANNAT AL-HASIB</p>
            <p>3455 al-dammam</p>
            <p>34264-7932 3</p>
          </div>
        </div>
        <!-- Add QR Code Section -->

        <div class="mt-4 billto-right col-md-3">
          <h5>{{ "taxInvoice" | translate }}</h5>
          <p>
            <b>{{ "Invoice Id" | translate }}</b> {{ qrCodeData.InvoiceId }}
          </p>
        </div>
      </div>
      <div class="horizontal-line"></div>
      <div class="row invoice-info">
        <div class="col-md-3">
          <b>{{ "terms.Date" | translate }}</b>
          <span>{{ qrCodeData.InvoiceDate }}</span>
        </div>
        <div class="col-md-3">
          <b>Booking id</b>
          <span>{{ qrCodeData.bookingId }}</span>
        </div>
        <div class="col-md-3">
          <b>{{ "terms.Unit Type" | translate }}</b>
          <span>{{ qrCodeData.unitType }}</span>
        </div>
        <div class="col-md-3">
          <b>{{ "terms.Payment" | translate }}</b>
          <span>{{ qrCodeData.paymentType }}</span>
        </div>
      </div>
      <div class="row user-info">
        <div class="col-md-3">
          <b>{{ "Name" | translate }}</b>
          <span>
            {{ qrCodeData.CustomerName }}
          </span>
        </div>
        <div class="col-md-3">
          <b>{{ "Address" | translate }}</b>
          <span>{{ qrCodeData.Address }}</span>
        </div>
      </div>
      <div class="invoice-table-border">
        <div class="row invoice-table" style="margin: 0 !important">
          <Table class="table-content">
            <thead>
              <tr>
                <th>{{ "Sl.NO" | translate }}</th>
                <th>{{ "Description" | translate }}</th>
                <th>{{ "quantity" | translate }}</th>
                <th>{{ "Unit price" | translate }}</th>
                <th>{{ "Total amount" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  {{ booking?.pickup }},
                  {{ booking?.dropPoints?.join(", ") }}
                </td>
                <td>1</td>
                <td>{{ qrCodeData.PaymentAmount }}</td>
                <td>{{ qrCodeData.PaymentAmount }}</td>
              </tr>
            </tbody>
          </Table>
        </div>
        <div class="table-bottom row">
          <div class="col-8">
            <!-- Left content (if any) can go here -->
          </div>

          <div class="col-md-4 col-sm-12">
            <p class="d-flex justify-content-between">
              <b>{{ "Subtotal" | translate }}</b>
              <span>{{ qrCodeData.PaymentAmount }}</span>
            </p>
            <p class="d-flex justify-content-between">
              <b>VAT:</b> <span>0%</span>
            </p>
            <p class="d-flex justify-content-between">
              <b>{{ "Total amount" | translate }}</b>
              <span>{{ qrCodeData.PaymentAmount }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
