<div class="home-container">
    <div class="custom-slider">
      <h2 class="booking-container-head">Available Equipment Units</h2>
    </div>
    <div class="container booking-container">
      <div class="row">
        <div class="col-md-6">
          <div class="vehicle-cols">
            <div class="row vehicle-cols-1" *ngFor="let equip of equipment">
              <div class="col-md-7 left-col">
                <img src="assets/images/delivery-truck.svg" />
                <p>{{ equip.name }}</p>
              </div>
              <div class="col-md-5 border">
                <div class="custom-select-wrapper">
                  <div class="custom-select">
                    <div
                      class="custom-select-trigger"
                      (click)="toggleOptions(equip.name)"
                      [attr.data-vehicle]="equip.name"
                    >
                      <span>{{
                        selectedOptions[equip.name]?.typeName ||
                          "Select an option"
                      }}</span>
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div
                      class="custom-options"
                      [class.show]="optionsVisible[equip.name]"
                    >
                      <div
                        *ngFor="let type of equip.type"
                        class="custom-option"
                        (click)="selectOption(type, equip.name)"
                      >
                        <div class="option-content">
                          <img [src]="type.typeImage" [alt]="type.typeName" />
                          <div class="text-content">
                            <span>{{ type.typeName }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin: 20px 0px">
              <div class="col-md-6">
                <input type="time" class="form-control" [(ngModel)]="bookingData.fromTime" placeholder="From time" />
              </div>
              <div class="col-md-6">
                <input type="time" class="form-control" [(ngModel)]="bookingData.toTime" placeholder="To time" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="date" [(ngModel)]="bookingData.date" class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 bottom-checkbox">
                <div class="checkbox-container">
                  <input
                    type="checkbox"
                    id="additionalLabourCheckbox"
                    (change)="toggleAdditionalLabour($event)"
                    [(ngModel)]="bookingData.additionalLabour"
                  />
                  <label for="additionalLabourCheckbox"
                    >Need any additional labour</label
                  >
                </div>
  
                <div class="radio-container" *ngIf="additionalLabourEnabled">
                  <input type="radio" id="radio1" name="radios" value="1" [(ngModel)]="bookingData.labourCount" />
                  <label for="radio1">1</label>
  
                  <input type="radio" id="radio2" name="radios" value="2" [(ngModel)]="bookingData.labourCount" />
                  <label for="radio2">2</label>
  
                  <input type="radio" id="radio3" name="radios" value="3" [(ngModel)]="bookingData.labourCount"/>
                  <label for="radio3">3</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="row-container">
            <div class="input-field design">
              <i class="fas fa-search"></i>
              <input
                type="text"
                placeholder="Enter city name"
                [(ngModel)]="bookingData.city"
                style="margin-bottom: 8px"
              />
            </div>
            <div class="input-field">
              <div class="pick-up"></div>
              <input
                type="text"
                placeholder="Enter your address"
                [(ngModel)]="bookingData.address"
                style="margin-bottom: 8px"
              />
            </div>
            <div class="input-field">
              <div class="pick-up"></div>
              <input
                type="text"
                placeholder="Zip code for construction site"
                [(ngModel)]="bookingData.zipCode"
                style="margin-bottom: 8px"
              />
            </div>
          </div>
          <div class="buttons">
            <button
              type="submit"
              class="btn create-booking"
              (click)="openBookingModal($event)"
            >
              get an estimate
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
