<div class="row">
  <div class="col-md-12">
    <div class="booking-modal">
      <h2 style="text-align: left; margin-left: 20px">
        {{ "Edit" | translate }}
      </h2>
      <div class="modal-close">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeModalAndNavigate()"
          style="margin-right: 10px; color: white"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <!-- Modal Body Container -->
    <div class="trigger-modal-body container edit-booking-modal">
      <!-- First row -->
      <div class="row container">
        <div
          class="home-body-1"
          style="
            background-color: transparent !important;
            padding: 0px !important;
            box-shadow: none !important;
            margin: 20px 0px !important;
          "
        >
          <div
            *ngFor="let item of items"
            class="item"
            [ngClass]="{
              'highlighted-border': bookingData.unitType === item.name
            }"
            style="
              width: 130px;
              margin: 0px 18px;
              padding-bottom: 10px !important;
            "
          >
            <img
              [src]="item.image"
              alt="{{ item.name }}"
              style="max-height: 80px; max-width: 80px"
            />
            <hr class="line" />
            <p class="item-name" style="padding-bottom: 10px">
              {{ item.name }}
            </p>
          </div>
        </div>
      </div>
      <!-- second row -->
      <div class="row container">
        <div class="col-md-3 edit-model-row-2">
          <label>{{ "Mode" | translate }}</label>
          <select
            class="form-select"
            [(ngModel)]="bookingData.name"
            style="width: 200px !important"
          >
            <option>{{ bookingData.name }}</option>
          </select>
        </div>
        <div
          class="col-md-5 edit-model-row-2"
          *ngIf="bookingData.type?.length > 0"
        >
          <label>{{ "Mode Classification" | translate }}</label>
          <select
            class="form-select"
            [(ngModel)]="bookingData.type[0].typeName"
            style="width: 200px !important"
          >
            <option>
              {{ bookingData.type[0].typeName }}
            </option>
          </select>
        </div>
        <div class="col-md-4 edit-model-row-2">
          <label>{{ "ContractType" | translate }}</label>
          <select class="form-select" style="width: 200px !important" disabled>
            <option>{{ "Contract" | translate }}</option>
          </select>
        </div>
      </div>
      <!-- second row -->
      <div class="row">
        <div
          class="col-md-3 edit-model-row-2"
          style="border-right: 1px solid #ccc"
        >
          <label>{{ "terms.Date" | translate }}</label>
          <div class="booking-inputs" style="width: 200px !important">
            <input
              type="date"
              class="form-control"
              [(ngModel)]="bookingData.date"
              required
            />
          </div>
        </div>
        <div class="col-md-1 pickup-drop">
          <img src="assets/images/pickup.svg" alt="pickup" />
          <div class="dotted"></div>
          <img src="assets/images/dropPoint.svg" alt="dropPoint" />
        </div>
        <div
          class="col-md-4 edit-model-row-2"
          style="
            display: flex;
            flex-direction: column;
            border-right: 1px solid #ccc;
            margin: 0px 5px;
          "
        >
          <!-- Conditional input field for Pickup or City Name -->
          <div
            class="input-field"
            style="
              border: 1px solid #ddd !important;
              padding: 5px 20px;
              border-radius: 10px;
              position: relative;
              width: 100%;
              max-width: 330px;
              margin: 10px 0px;
            "
          >
            <input
              *ngIf="
                bookingData.unitType === 'equipment' ||
                  bookingData.unitType === 'special';
                else pickupInput
              "
              type="text"
              placeholder="Enter city name"
              [(ngModel)]="bookingData.cityName"
              (input)="onCityNameInputChange()"
              required
            />
            <!-- Suggestions Dropdown for City Name -->
            <div
              class="suggestions-dropdown edit-modal-suggestion"
              *ngIf="cityNameSuggestions.length > 0"
            >
              <div
                class="suggestion-item"
                *ngFor="let suggestion of cityNameSuggestions"
                (click)="selectCityNameSuggestion(suggestion)"
              >
                {{ suggestion.description }}
              </div>
            </div>
            <ng-template #pickupInput>
              <input
                type="text"
                placeholder="Enter pickup location"
                [(ngModel)]="bookingData.pickup"
                (input)="onPickupInputChange()"
                required
              />
            </ng-template>
            <!-- Suggestions Dropdown -->
            <div
              class="suggestions-dropdown edit-modal-suggestion"
              *ngIf="pickupSuggestions.length > 0"
            >
              <div
                class="suggestion-item"
                *ngFor="let suggestion of pickupSuggestions"
                (click)="selectPickupSuggestion(suggestion)"
              >
                {{ suggestion.description }}
              </div>
            </div>
          </div>

          <!-- Single Address Input Field -->
          <div
            class="input-field"
            style="
              border: 1px solid #ddd !important;
              padding: 5px 20px;
              border-radius: 10px;
              position: relative;
              width: 100%;
              max-width: 330px;
              margin: 10px 0px;
            "
          >
            <input
              *ngIf="
                bookingData.unitType === 'equipment' ||
                  bookingData.unitType === 'special';
                else dropPointInput
              "
              type="text"
              placeholder="Enter address"
              [(ngModel)]="bookingData.address"
              (input)="onAddressInputChange()"
              required
            />
            <!-- Suggestions Dropdown for Address -->
            <div
              class="suggestions-dropdown edit-modal-suggestion"
              *ngIf="addressSuggestions.length > 0"
            >
              <div
                class="suggestion-item"
                *ngFor="let suggestion of addressSuggestions"
                (click)="selectAddressSuggestion(suggestion)"
              >
                {{ suggestion.description }}
              </div>
            </div>
            <ng-template #dropPointInput>
              <input
                type="text"
                placeholder="Enter drop point location"
                [(ngModel)]="bookingData.dropPoints[0]"
                (input)="onDropPointInputChange(0)"
                required
              />
            </ng-template>
            <!-- Suggestions Dropdown -->
            <div
              class="suggestions-dropdown edit-modal-suggestion"
              *ngIf="
                dropPointSuggestions[0] && dropPointSuggestions[0].length > 0
              "
            >
              <div
                class="suggestion-item"
                *ngFor="let suggestion of dropPointSuggestions[0]"
                (click)="selectDropPointSuggestion(suggestion, 0)"
              >
                {{ suggestion.description }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 edit-model-row-2">
          <div class="col-md-12">
            <div class="checkbox-container">
              <input
                type="checkbox"
                id="additionalLabourCheckbox"
                (change)="toggleAdditionalLabour($event)"
                [checked]="additionalLabourEnabled"
              />
              <label for="additionalLabourCheckbox">{{
                "needAdditionalLabour" | translate
              }}</label>
            </div>
            <div
              class="radio-container"
              *ngIf="additionalLabourEnabled"
              style="display: flex; flex-direction: row !important"
            >
              <input
                type="radio"
                id="radio1"
                name="radios"
                value="1"
                (change)="logRadioValue($event)"
                [checked]="bookingData.additionalLabour === 1"
              />
              <label for="radio1">1</label>
              <input
                type="radio"
                id="radio2"
                name="radios"
                value="2"
                (change)="logRadioValue($event)"
                [checked]="bookingData.additionalLabour === 2"
              />
              <label for="radio2">2</label>
              <input
                type="radio"
                id="radio3"
                name="radios"
                value="3"
                (change)="logRadioValue($event)"
                [checked]="bookingData.additionalLabour === 3"
              />
              <label for="radio3">3</label>
            </div>
          </div>
        </div>
      </div>
      <div class="" style="float: right !important">
        <button
          type="button"
          class="btn btn-payNow"
          (click)="updateBooking()"
          style="width: 150px; margin: 20px 15px !important"
        >
          {{ "Save" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
