<div class="row">
  <div class="col-md-12">
    <div class="booking-modal">
      <h2></h2>
      <div class="modal-close">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeModalAndNavigate()"
          style="margin-right: 10px; color: white"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <!-- Modal Body Container -->
    <div class="cancel-booking-modal">
      <div style="text-align: center">
        {{ "Are you sure you want to cancel this booking?" | translate }}
      </div>
      <div class="modal-footer cancel-booking-btns">
        <button
          type="button"
          class="btn btn-danger"
          (click)="cancelBooking()"
          style="margin: 10px 20px 0px 20px !important; width: 120px !important"
        >
          {{ "Yes" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeModalAndNavigate()"
          style="margin: 10px 20px 0px 20px !important; width: 120px !important"
        >
          {{ "No" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
