<div class="home-container">
  <div class="custom-slider">
    <h2 class="booking-container-head">{{"availableBusUnits" | translate}}</h2>
  </div>
  <div class="container booking-container">
    <div class="row">
      <div class="col-md-6">
        <div class="vehicle-cols">
          <div class="row">
            <h2 class="text-center">{{"bus" | translate}}</h2>
            <div
              class="bus-container"
              *ngFor="let bus of buses"
              (click)="selectBus(bus)"
              [class.selected]="selectedBus === bus"
            >
              <img
                *ngIf="bus.image"
                [src]="bus.image"
                alt="{{ bus.name }}"
                class="bus-image"
              />
              <p class="bus-name">{{ bus.name }}</p>
            </div>
          </div>
          <div class="row align-items-center" style="margin: 20px 0px">
            <div class="col-md-6">
              <ngb-timepicker
                class="custom-timepicker"
                [(ngModel)]="bookingData.time"
                [spinners]="true"
                [meridian]="true"
                required
              ></ngb-timepicker>
            </div>
            <div class="col-md-6">
              <input
                type="date"
                class="form-control"
                [(ngModel)]="bookingData.date"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                [placeholder]="'valueOfProduct' | translate"
                [(ngModel)]="bookingData.productValue"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 bottom-checkbox">
              <div class="checkbox-container">
                <input
                  type="checkbox"
                  id="additionalLabourCheckbox"
                  (change)="toggleAdditionalLabour($event)"
                  [checked]="additionalLabourEnabled"
                />
                <label for="additionalLabourCheckbox"
                  >{{"needAdditionalLabour" | translate}}</label
                >
              </div>

              <div class="radio-container" *ngIf="additionalLabourEnabled">
                <input
                  type="radio"
                  id="radio1"
                  name="radios"
                  value="1"
                  (change)="logRadioValue($event)"
                  [checked]="bookingData.additionalLabour === 1"
                />
                <label for="radio1">1</label>

                <input
                  type="radio"
                  id="radio2"
                  name="radios"
                  value="2"
                  (change)="logRadioValue($event)"
                  [checked]="bookingData.additionalLabour === 2"
                />
                <label for="radio2">2</label>

                <input
                  type="radio"
                  id="radio3"
                  name="radios"
                  value="3"
                  (change)="logRadioValue($event)"
                  [checked]="bookingData.additionalLabour === 3"
                />
                <label for="radio3">3</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="row-container">
          <div class="input-field" style="position: relative">
            <div class="pick-up"></div>
            <input
              type="text"
              [placeholder]="'pickupLocation' | translate"
              [(ngModel)]="bookingData.pickup"
              (input)="onPickupInputChange()"
              (focus)="setActiveInputField('pickup')"
              style="margin-bottom: 8px"
              required
            />
            <!-- Pickup Suggestions -->
            <div
              class="suggestions-dropdown"
              *ngIf="pickupSuggestions.length > 0"
            >
              <div
                class="suggestion-item"
                *ngFor="let suggestion of pickupSuggestions"
                (click)="selectPickupSuggestion(suggestion)"
                [ngClass]="{
                  'your-location': suggestion.description === 'Your location'
                }"
                style="display: flex; align-items: center"
              >
                <span *ngIf="suggestion.description === 'Your location'">
                  <i
                    class="fas fa-crosshairs"
                    style="margin-right: 8px; color: #0d6efd"
                  ></i>
                </span>
                <span
                  [style.color]="
                    suggestion.description === 'Your location'
                      ? '#0d6efd'
                      : 'inherit'
                  "
                >
                  {{ suggestion.description }}
                </span>
              </div>
            </div>
          </div>
          <div
            *ngFor="
              let dropPoint of bookingData.dropPoints;
              let i = index;
              trackBy: trackByIndex
            "
            class="input-field"
            style="position: relative"
          >
            <div class="drop-point"></div>
            <input
              type="text"
              [placeholder]="('dropPointLocation' | translate) + ' ' + (i + 1)"
              [(ngModel)]="bookingData.dropPoints[i]"
              (input)="onDropPointInputChange(i)"
              (focus)="setActiveInputField('dropPoint', i)"
              required
            />
            <div
              class="circle"
              *ngIf="i === 0 && bookingData.dropPoints.length === 1"
              (click)="addInputField()"
            >
              <i class="fas fa-plus"></i>
            </div>
            <div class="circle" *ngIf="i !== 0" (click)="removeInputField(i)">
              <i class="fas fa-times"></i>
            </div>
            <div
              class="suggestions-dropdown"
              *ngIf="
                dropPointSuggestions[i] && dropPointSuggestions[i].length > 0
              "
            >
              <div
                class="suggestion-item"
                *ngFor="let suggestion of dropPointSuggestions[i]"
                (click)="selectDropPointSuggestion(suggestion, i)"
                [ngClass]="{
                  'your-location': suggestion.description === 'Your location'
                }"
                style="display: flex; align-items: center"
              >
                <span *ngIf="suggestion.description === 'Your location'">
                  <i
                    class="fas fa-crosshairs"
                    style="margin-right: 8px; color: #0d6efd"
                  ></i>
                </span>
                <span
                  [style.color]="
                    suggestion.description === 'Your location'
                      ? '#0d6efd'
                      : 'inherit'
                  "
                >
                  {{ suggestion.description }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button
            type="submit"
            class="btn create-booking"
            (click)="updateRoute()"
          >
            Get Direction
          </button>
        </div>
        <div id="map" class="google-map-style"></div>
        <div class="buttons">
          <button
            type="submit"
            class="btn create-booking"
            (click)="submitBooking()"
          >
            Create Booking
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
