<div class="home-container">
    <div class="custom-slider">
      <h2 class="booking-container-head">{{ "availableVehicleUnits" | translate }}</h2>
    </div>
    <div class="container booking-container">
      <div class="row">
        <div class="col-md-6">
          <div class="vehicle-cols">
            <div class="row vehicle-cols-1" *ngFor="let vehicle of vehicles">
              <div class="col-md-7 left-col">
                <img src="assets/images/delivery-truck.svg" />
                <p>{{ "vehicleName." + vehicle.name | translate }}</p>
              </div>
              <div class="col-md-5 border">
                <div class="custom-select-wrapper">
                  <div class="custom-select">
                    <div class="custom-select-trigger" (click)="toggleOptions(vehicle.name)" [attr.data-vehicle]="vehicle.name">
                      <span>{{
                        selectedOptions[vehicle.name]?.typeName
                          ? ("typeNames." +
                              selectedOptions[vehicle.name]?.typeName | translate)
                          : ("selectOption" | translate)
                      }}</span>
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="custom-options" [class.show]="optionsVisible[vehicle.name]">
                      <div *ngFor="let type of vehicle.type" class="custom-option" (click)="selectOption(type, vehicle.name)">
                        <div class="option-content">
                          <img [src]="type.typeImage" [alt]="type.typeName" />
                          <div class="text-content">
                            <span>{{
                              "typeNames." + type.typeName | translate
                            }}</span>
                            <span class="scale">{{ type.scale }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin: 20px 0px">
              <div class="col-md-6">
                <input type="time" class="form-control" [(ngModel)]="bookingData.time"  />
              </div>
              <div class="col-md-6">
                <input type="date" class="form-control" [(ngModel)]="bookingData.date"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="bookingData.productValue"
                  [placeholder]="'valueOfProduct' | translate"
                />
              </div>
              <div class="col-md-6">
                <select class="form-select" [(ngModel)]="bookingData.loadType">
                  <option value="" disabled selected>{{ "loadType" | translate }}</option>
                  <option
                    *ngFor="let load of filteredLoads[selectedVehicleName]"
                    [value]="load"
                  >
                  {{ "loads." + load | translate }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 bottom-checkbox">
                <div class="checkbox-container">
                  <input
                    type="checkbox"
                    id="additionalLabourCheckbox"
                    (change)="toggleAdditionalLabour($event)"
                  />
                  <label for="additionalLabourCheckbox">{{
                    "needAdditionalLabour" | translate
                  }}</label>
                </div>
  
                <div class="radio-container" *ngIf="additionalLabourEnabled">
                  <input
                    type="radio"
                    id="radio1"
                    name="radios"
                    value="1"
                    (change)="logRadioValue($event)"
                  />
                  <label for="radio1">1</label>
  
                  <input
                    type="radio"
                    id="radio2"
                    name="radios"
                    value="2"
                    (change)="logRadioValue($event)"
                  />
                  <label for="radio2">2</label>
  
                  <input
                    type="radio"
                    id="radio3"
                    name="radios"
                    value="3"
                    (change)="logRadioValue($event)"
                  />
                  <label for="radio3">3</label>
                </div>
              </div>
            </div>
          </div>
    
  
  
  
        </div>
        <div class="col-md-6 text-center">
          <div class="row-container">
            <div class="input-field">
              <div class="pick-up"></div>
              <input
                type="text"
                [placeholder]="'pickupLocation' | translate"
                [(ngModel)]="bookingData.pickUp"
                style="margin-bottom: 8px"
              />
            </div>
            <div
              *ngFor="let field of inputFields; let i = index"
              class="input-field"
            >
              <div class="drop-point"></div>
              <input
                type="text"
                [placeholder]="('dropPointLocation' | translate) + ' ' + (i + 1)"
                [(ngModel)]="field.value"
              />
              <div class="circle" *ngIf="i === 0" (click)="addInputField()">
                <i class="fas fa-plus"></i>
              </div>
              <div class="circle" *ngIf="i !== 0" (click)="removeInputField(i)">
                <i class="fas fa-times"></i>
              </div>
            </div>
          </div>
          <div class="buttons">
            <button
              type="submit"
              class="btn create-booking"
              (click)="submitEstimate($event)"
            >
            {{"ESTIMATE.GET_ESTIMATE"|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
