<div class="row">
  <div class="col-md-12">
    <div class="modal-close">
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="closeModalAndNavigate()"
        style="margin-right: 10px; color: #858585"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="delete-modal-body">
      <i class="fas fa-info-circle" style="color: #efb21b; font-size: 40px"></i>
      <p>{{ "Are you sure?" | translate }}</p>
      <div style="display: flex; flex-direction: row !important">
        <button
          class="status-open"
          (click)="onDelete()"
          style="border: none; margin: 0px 10px; padding: 5px 20px !important"
        >
          {{ "Yes" | translate }}
        </button>
        <button
          class="status-closed"
          (click)="closeModalAndNavigate()"
          style="border: none; margin: 0px 10px; padding: 5px 20px !important"
        >
          {{ "No" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
