<div
  class="row booking-manager-container"
  style="margin: 15px; overflow-y: hidden !important"
>
  <ng-container *ngFor="let booking of filteredBookings; let i = index">
    <div class="col-md-5 booking-history" *ngIf="filteredBookings.length > 0">
      <div class="table-container booking-manager-table">
        <table class="table" style="margin-bottom: 0 !important; border-bottom: 1px solid #ddd;">
          <thead>
            <tr class="trigger-booking-table">
              <th>{{ "BookingWithNumber" | translate : { number: i + 1 } }}</th>
              <th>{{ "Id" | translate }}: {{ booking._id }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="trigger-booking-table">
              <td class="trigger-booking-td">
                <div class="trigger-booking-td-1">
                  <p class="p1">
                    {{ "unitTypes." + booking.unitType | translate }}
                  </p>
                  <p class="p2">
                    {{
                      unitDetails[booking._id] ||
                        ("UnitNotAssigned" | translate)
                    }}
                  </p>
                </div>
              </td>
              <td></td>
            </tr>
            <tr class="trigger-booking-table">
              <td class="trigger-booking-td">
                <div class="trigger-booking-td-1">
                  <!-- Conditionally render based on booking.unitType -->
                  <ng-container
                    *ngIf="
                      booking.unitType === 'equipment' ||
                        booking.unitType === 'special';
                      else defaultContent
                    "
                  >
                    <p class="p1">{{ booking.cityName }}</p>
                    <p class="p2">{{ booking.address }}</p>
                  </ng-container>
                  <ng-template #defaultContent>
                    <p class="p1">{{ booking.pickup }}</p>
                    <p class="p2">{{ booking.dropPoints.join(", ") }}</p>
                  </ng-template>
                </div>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-payNow"
                  style="width: 150px"
                  (click)="openEditModal(booking)"
                >
                  {{ "Edit" | translate }}
                </button>
              </td>
            </tr>
            <tr class="trigger-booking-table">
              <td class="trigger-booking-td">
                <div class="trigger-booking-td-1">
                  <p class="p1">{{ "BalanceAmount" | translate }}</p>
                  <p class="p2">{{ booking.date }}</p>
                </div>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-payNow"
                  style="width: 150px"
                  (click)="
                    makePayment(
                      $event,
                      booking.remainingBalance || 0,
                      'Completed',
                      booking.partner,
                      booking._id
                    )
                  "
                >
                  {{ "Pay" | translate }}: {{ booking.remainingBalance }} SAR
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <div class="col-md-2 booking-history">
    <div class="table-container booking-manager-table">
      <table class="table" style="margin: 0px 0px !important">
        <thead>
          <tr class="trigger-booking-table">
            <th style="text-align: center !important">
              {{ "NewBooking" | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr
              class="trigger-booking-table"
              style="cursor: pointer"
              (click)="createBooking()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="82.998"
                height="89.999"
                viewBox="0 0 82.998 89.999"
                style="margin: 48px 0px !important;"
              >
                <path
                  id="Union_1"
                  data-name="Union 1"
                  d="M33,81V53H8.5a8.5,8.5,0,0,1,0-17H33V9A9,9,0,1,1,51,9V36H74.5a8.5,8.5,0,1,1,0,17H51V81a9,9,0,1,1-18,0Z"
                  transform="translate(-0.001 -0.001)"
                  fill="#b7aeb9"
                  opacity="0.394"
                />
              </svg>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Payment options for user to select a payment brand -->
<div *ngIf="showPaymentOptions" class="payment-options-container">
  <div class="payment-options">
    <!-- Close button -->
    <button
      type="button"
      class="btn-close close-button"
      (click)="closePaymentOptions()"
    >
      <i class="fas fa-times"></i>
    </button>
    <!-- Option for MADA -->
    <button
      type="button"
      class="btn btn-pay-mada"
      (click)="selectPaymentBrand('MADA')"
    >
      Pay using MADA
      <img src="assets/images/Mada_Logo.svg" alt="MADA Icon" />
    </button>

    <!-- Option for Other Cards -->
    <button
      type="button"
      class="btn btn-pay-other"
      (click)="selectPaymentBrand('OTHER')"
    >
      Pay using Other Card Types
      <img src="assets/images/visa-mastercard.svg" alt="Other Cards Icon" />
    </button>
  </div>
</div>

<div *ngIf="showPaymentForm">
  <div class="modal-overlay" (click)="closePaymentForm()"></div>
  <!-- Payment form -->
  <!-- Payment Form for MADA -->
  <div
    class="centered-payment-form"
    *ngIf="selectedBrand === 'MADA' && showPaymentForm"
    (click)="$event.stopPropagation()"
  >
    <form
      [action]="shopperResultUrl"
      (ngSubmit)="onPaymentFormSubmit()"
      class="paymentWidgets"
      data-brands="MADA"
    ></form>
  </div>

  <!-- Payment Form for Other Cards -->
  <div
    class="centered-payment-form"
    *ngIf="selectedBrand === 'OTHER' && showPaymentForm"
    (click)="$event.stopPropagation()"
  >
    <form
      [action]="shopperResultUrl"
      (ngSubmit)="onPaymentFormSubmit()"
      class="paymentWidgets"
      data-brands="VISA MASTER AMEX APPLEPAY"
    ></form>
  </div>
</div>

<div class="dropdown-container booking-manager-dropdown">
  <select
    class="form-select"
    style="width: 150px !important; margin-right: 10px"
    (change)="onFilterChange($event)"
  >
    <option value="All" selected>{{ "filters.All" | translate }}</option>
    <option value="Today">{{ "filters.Today" | translate }}</option>
    <option value="This Week">{{ "filters.ThisWeek" | translate }}</option>
    <option value="This Month">{{ "filters.ThisMonth" | translate }}</option>
    <option value="This Year">{{ "filters.ThisYear" | translate }}</option>
  </select>
  <select
    class="form-select"
    style="width: 150px !important; margin-right: 25px"
    (change)="onBookingChange($event)"
  >
    <option value="All" selected>{{ "filters.All" | translate }}</option>
    <option value="Completed">{{ "filters.Completed" | translate }}</option>
    <option value="Running">{{ "filters.Running" | translate }}</option>
    <option value="Hold">{{ "filters.Hold" | translate }}</option>
    <option value="Pending for payment">
      {{ "filters.PendingForPayment" | translate }}
    </option>
  </select>
</div>

<div class="row booking-manager-container">
  <div class="col-md-12 booking-history">
    <div
      class="table-container booking-manager-table"
      style="max-height: 310px !important; overflow-y: auto"
    >
      <table
        class="table"
        style="
          margin: 0px 0px !important;
          width: 100%;
          border-collapse: collapse;
        "
      >
        <thead
          style="position: sticky; top: 0; z-index: 1; background-color: #fff"
        >
          <tr class="trigger-booking-table">
            <th>Booking ID</th>
            <th>{{ "Mode" | translate }}</th>
            <th>{{ "Vendor Name" | translate }}</th>
            <th>{{ "terms.Payment Status" | translate }}</th>
            <th>{{ "status.Status" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr
              class="trigger-booking-table"
              *ngFor="let booking of filterBookings"
            >
              <td>{{ booking._id }}</td>
              <td>{{ "unitTypes." + booking.unitType | translate }}</td>
              <td>
                {{ partnerDetails[booking.partner]?.partnerName || "N/A" }}
              </td>
              <td>
                <span
                  [ngStyle]="{
                    'background-color': getPaymentStatusColor(
                      booking.paymentStatus
                    ),
                    color: getPaymentTextColor(booking.paymentStatus),
                    padding: '5px 30px',
                    'border-radius': '15px',
                    'font-size': '15px',
                    display: 'block',
                    width: '130px'
                  }"
                >
                  {{ "paymentStatus." + booking.paymentStatus | translate }}
                </span>
              </td>
              <td>
                <ng-container [ngSwitch]="booking.paymentStatus">
                  <img
                    *ngSwitchCase="'HalfPaid'"
                    src="assets/images/halfpaid.svg"
                    alt="Half Paid"
                    class="payment-status-icon"
                  />
                  <img
                    *ngSwitchCase="'Pending'"
                    src="assets/images/pending payment.svg"
                    alt="Pending Payment"
                    class="payment-status-icon"
                  />
                  <img
                    *ngSwitchCase="'Completed'"
                    src="assets/images/payment-completed.svg"
                    alt="Payment Completed"
                    class="payment-status-icon"
                  />
                  <img
                    *ngSwitchCase="'Paid'"
                    src="assets/images/payment-completed.svg"
                    alt="Payment Completed"
                    class="payment-status-icon"
                  />
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
