<div class="row booking-manager-container" style="margin: 15px">
  <div class="col-md-5 booking-history">
    <div class="table-container booking-manager-table">
      <table class="table" style="margin: 0px 0px !important">
        <thead>
          <tr class="trigger-booking-table">
            <th>Booking 1</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr class="trigger-booking-table">
              <td class="trigger-booking-td">
                <input
                  type="checkbox"
                  id="triggerBooking1"
                  name="triggerBooking1"
                  value="booking1"
                />
                <div class="trigger-booking-td-1">
                  <p class="p1">Vehicle</p>
                  <p class="p2">XXXXXXXXXXXXXXXXXXX</p>
                </div>
              </td>
              <td></td>
            </tr>
            <tr class="trigger-booking-table">
              <td class="trigger-booking-td">
                <input
                  type="checkbox"
                  id="triggerBooking1"
                  name="triggerBooking1"
                  value="booking1"
                />
                <div class="trigger-booking-td-1">
                  <p class="p1">Pickup</p>
                  <p class="p2">DropPoint</p>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-payNow">Pay Now</button>
              </td>
            </tr>
            <tr class="trigger-booking-table">
              <td class="trigger-booking-td">
                <input
                  type="checkbox"
                  id="triggerBooking1"
                  name="triggerBooking1"
                  value="booking1"
                />
                <div class="trigger-booking-td-1">
                  <p class="p1">Balance Amount</p>
                  <p class="p2">08.07.2024</p>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-payNow">Pay Now</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-5 booking-history">
    <div class="table-container booking-manager-table">
      <table class="table" style="margin: 0px 0px !important">
        <thead>
          <tr class="trigger-booking-table">
            <th>Booking 1</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr class="trigger-booking-table">
              <td class="trigger-booking-td">
                <input
                  type="checkbox"
                  id="triggerBooking1"
                  name="triggerBooking1"
                  value="booking1"
                />
                <div class="trigger-booking-td-1">
                  <p class="p1">Vehicle</p>
                  <p class="p2">XXXXXXXXXXXXXXXXXXX</p>
                </div>
              </td>
              <td></td>
            </tr>
            <tr class="trigger-booking-table">
              <td class="trigger-booking-td">
                <input
                  type="checkbox"
                  id="triggerBooking1"
                  name="triggerBooking1"
                  value="booking1"
                />
                <div class="trigger-booking-td-1">
                  <p class="p1">Pickup</p>
                  <p class="p2">DropPoint</p>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-payNow">Pay Now</button>
              </td>
            </tr>
            <tr class="trigger-booking-table">
              <td class="trigger-booking-td">
                <input
                  type="checkbox"
                  id="triggerBooking1"
                  name="triggerBooking1"
                  value="booking1"
                />
                <div class="trigger-booking-td-1">
                  <p class="p1">Balance Amount</p>
                  <p class="p2">08.07.2024</p>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-payNow">Pay Now</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-2 booking-history">
    <div class="table-container booking-manager-table">
      <table class="table" style="margin: 0px 0px !important">
        <thead>
          <tr class="trigger-booking-table">
            <th style="text-align: center !important">New Booking</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr class="trigger-booking-table" style="cursor: pointer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="82.998"
                height="89.999"
                viewBox="0 0 82.998 89.999"
              >
                <path
                  id="Union_1"
                  data-name="Union 1"
                  d="M33,81V53H8.5a8.5,8.5,0,0,1,0-17H33V9A9,9,0,1,1,51,9V36H74.5a8.5,8.5,0,1,1,0,17H51V81a9,9,0,1,1-18,0Z"
                  transform="translate(-0.001 -0.001)"
                  fill="#b7aeb9"
                  opacity="0.394"
                />
              </svg>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row booking-manager-container">
  <div class="col-md-12 booking-history">
    <div class="table-container booking-manager-table">
      <table class="table" style="margin: 0px 0px !important">
        <thead>
          <tr class="trigger-booking-table">
            <th>Booking ID</th>
            <th>Mode</th>
            <th>Vendor</th>
            <th>Payment Status</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr class="trigger-booking-table">
              <td>XXXXXXXXXXXXX</td>
              <td>Vehicle</td>
              <td>Arumugam</td>
              <td>Completed</td>
              <td>OK</td>
            </tr>
            <tr class="trigger-booking-table">
                <td>XXXXXXXXXXXXX</td>
                <td>Vehicle</td>
                <td>Arumugam</td>
                <td>Completed</td>
                <td>OK</td>
              </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
